@model LoanProcessManagement.Application.Responses.Response<IEnumerable<LoanProcessManagement.Application.Features.Menu.Query.GetMenuMasterServicesVm>>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul class="nav nav-treeview">
    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->


    @foreach (var itm in Model.Data)
    {
        if (itm.IsParent)
        {
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="@itm.Icon" style="width: auto; height: 20px; opacity: 1" />
                    <p>
                        @itm.MenuName
                    </p>
                </a>
                @await Component.InvokeAsync("SubMenu", new { parentId = itm.Id })
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@itm.Link" class="nav-link">
                    <img src="@itm.Icon" style="width: auto; height: 20px; opacity: 1" />
                    <p>
                        @itm.MenuName
                    </p>
                </a>
            </li>

        }


    }
</ul>

