@using LoanProcessManagement.Application.Features.LeadList.Commands;
@using LoanProcessManagement.Domain.CustomModels;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
    var leadlistById = (List<LeadListByIdModel>)TempData["LeadListById"];
    var leadlistAll = (List<LeadListCommandDto>)TempData["LeadListAll"];

}
<style>
    .no-sort::after {
        display: none !important;
    }
    .no-sort {
        pointer-events: none !important;
        cursor: default !important;
    }
</style>
<div class="container app mb-4">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>Lead List</h5></div>
            <div class="panel-body ">
                <div class="card" style="padding:15px;">
                    @{
                        if (leadlistById != null)
                        {
                            <table id="tblLeadList" class="display table table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th class="no-sort">
                                            Form No.
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th class="no-sort">
                                            Contact No.
                                        </th>
                                        <th>
                                            Product
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Appointment Date
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in leadlistById)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FormNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerPhone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @{
                                                    var date = item.Appointment_Date.ToString().Split(" ");



                                                    }
                                                @date[0]
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "LeadSummary", "LeadList", new { lead_Id = item.lead_Id }, new { @Class = "btn btn-primary btn-sm" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                        else
                        {
                            <table id="tblLeadList" class="display table table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>
                                            Form No.
                                        </th>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Customer Phone
                                        </th>
                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Appointment Date
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in leadlistAll)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FormNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerPhone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Appointment_Date)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "LeadSummary", "LeadList", new { lead_Id = item.lead_Id }, new { @Class = "btn btn-primary btn-sm" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

