@model IEnumerable<LoanProcessManagement.Application.Features.LeadList.Commands.LeadListCommandDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>Lead List</h5></div>
            <div class="panel-body ">
                <div class="card" style="padding:15px;">
                    <table id="tblLeadList" class="display table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>
                                    Form No
                                </th>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Customer Phone
                                </th>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Appointment Date
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeadStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Appointment_Date)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "LeadSummary", "LeadList", new { lead_Id = item.lead_Id }, new { @Class = "btn btn-primary btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
