@model LoanProcessManagement.App.Models.ModifyLeadVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LeadModification";
}

<style>
    #maindiv, p {
        border: 1px solid grey;
    }

    h4 {
        color: white;
        text-align: center;
    }

    .group1 {
        padding-left: 4px;
        float: left;
    }

    .group2 {
        float: right;
        width: 65%;
        padding-right: 4px;
    }

    .button1 {
        padding-left: 5px;
        padding-bottom: 5px;
        margin-right:10px;
        display:flex;
        flex-direction: row;
        justify-content: end;
        align-self: end;
        align-items: end;
        border-width:0px;
    }

    #button1 {
        background-color: darkblue;
        color: white;
        
    }

    input[type=text], textarea, select {
        width: 100%;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    .card {
        /*background-color:slategray;*/
        background: linear-gradient(to bottom, rgba(251,251,251,10) 0%,rgba(242,242,242,10) 100%);
        font-family: sans-serif;
        font-size: 18px;
        border: 1px solid;
        margin-top:20px;
        margin-bottom:20px;
    }
    select {
    border-radius:4px;
    height:30px;
    }
    input {
        border-radius: 5px;
    }
    .buttons {
    display:flex;
    flex-direction:row;
    /*justify-content:center;
    align-content:center;
    align-items:center;
    align-self:center;
    */
    }
    .btn1 {
    margin-right:7px;
    padding-left:8px;
    padding-right:8px;
    margin-top:7px;
    }
    .selected {
        background: #0d7db5;
        color: #FFF;
    }

    .QueryInput{
        display:flex;
        justify-content:space-between;
    }
    .QueryInput select{
        width:72%;
    }
   /* .QueryInput > *{
        margin-right:30px;
    }*/
</style>

<div class="container app" id="maindiv">
    <div class="container" id="adduplead" style="background-color:darkblue">
        <h4>Modification</h4>
    </div>
    @if (ViewBag.isSuccess == true)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message @*<a asp-controller="leadlist" asp-action="index">Go to lead list</a>*@
        </div>
    }
    else if(ViewBag.isSuccess == false)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message @*<a asp-controller="leadlist" asp-action="index">Go to lead list</a>*@
        </div>
    }
<form method="post" action="/leadlist/LeadModification">
    <br /><br />
    <input type="hidden" asp-for="lead_Id" />
    <input type="hidden" asp-for="login_id" />
    <input type="hidden" asp-for="UserRoleId" id="userRole" />
    <input type="hidden" asp-for="QueryStatus" id="QueryStatusHidden" />
    <input type="hidden" asp-for="LgId" />




    <div class="initial1">
        
        <div class="group1"><label for="status_lead">Status of Lead<span style="color:red;margin-left: 4px;font-size: 15px;">*</span></label></div>
        <div class="group2">
            <select id="status_lead" class="form-control" asp-for="CurrentStatus" asp-items="ViewBag.leadStatus">
                <option value="">Select</option>
            </select>
            <span asp-validation-for="CurrentStatus" class="text-danger"></span>
        </div>
    </div><br /><br>

    <div class="initial1">
        <div class="group1"><label for="residential_status">Residential Status<span style="color:red;margin-left: 4px;font-size: 15px;">*</span></label></div>
        <div class="group2">
            <select id="residential_status" class="form-control" asp-for="ResidentialStatus">
                <option value="Resident Indian">Resident Indian</option>
                <option value="Non-Resident Indian">Non-Resident Indian</option>

            </select>
            <span asp-validation-for="ResidentialStatus" class="text-danger"></span>

        </div>
    </div><br /><br />

    <div class="initial1" id="leadQueryDiv">
        <div class="group1"><label for="leadQuery" id="QueryText">Raise Query</label></div>
        <div class="group2">
            <div class="" id="divToggleSwitch">
                <label class="switch">
                    <input type="checkbox" id="chkQuery">
                    <span class="slider round"></span>
                </label>
                <label id="lblSwitchName" class="label label-default" style="display: none;">Query Raised</label>

            </div>
        </div>
        <br /><br />
    </div>

    <div id="divQueryType">
        <div class="initial1" id="div_IPSQueryType">
            <div class="group1">
                <label>IPS Query - 1</label>
            </div>
            <div class="group2">
                <div class="QueryInput" style="">
                    <select id="ddl_IPSQueryType" class="QueryType form-control" asp-for="IPSQueryType1" asp-items="ViewBag.leadQuery">
                        <option value="">Select Query</option>
                    </select>
                    @*<input name="ddl_IPSQueryType" type="text" id="ddl_IPSQueryType" class="form-control">*@
                    <input type="button" class="btn btn-primary btnForQuery" value="Add another Query Type" onclick="show_IPSQueryType_ForBtn('2','#ddl_IPSQueryType');">

                </div>
            </div>
            <br /><br />

        </div>


        @*<div class="row" id="div_IPSQueryType">
                <div class="col-sm-3">
                    <label>IPS Query - 1</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-control select" style="">

                        <input name="ddl_IPSQueryType" type="text" id="ddl_IPSQueryType" autocomplete="off" class="form-control ui-autocomplete-input" style="width: 75%">
                        &nbsp;<input id="btnAddMore1" type="button" class="info smtBtn" value="Add another Query Type" onclick="show_IPSQueryType_ForBtn('2');" style="margin: 0px; padding: 5px 10px;">
                    </div>
                </div>
            </div>*@
        @{
            var displayProp2 = "display:none";
            if (Model.IPSQueryType2 != null)
            {
                displayProp2 = "display:block";
            }
        }
        <div class="initial1" id="div_IPSQueryType2" style=@displayProp2>
            <div class="group1">
                <label>IPS Query - 2</label>
            </div>
            <div class="group2">
                <div class="QueryInput" style="">
                    <select id="ddl_IPSQueryType2" class="QueryType form-control" asp-for="IPSQueryType2" asp-items="ViewBag.leadQuery">
                        <option value="">Select Query</option>
                    </select>

                    @*<input name="ddl_IPSQueryType2" type="text" id="ddl_IPSQueryType2" class="form-control">*@
                    <input type="button" class="btn btn-primary btnForQuery" value="Add another Query Type" onclick="show_IPSQueryType_ForBtn('3','#ddl_IPSQueryType2');">
                </div>
            </div>
            <br /><br />

        </div>
        @{
            var displayProp3 = "display:none";
            if (Model.IPSQueryType3 != null)
            {
                displayProp3 = "display:block";
            }
        }
        <div class="initial1" id="div_IPSQueryType3" style=@displayProp3>
            <div class="group1">
                <label>IPS Query - 3</label>
            </div>
            <div class="group2">
                <div class="QueryInput" style="">
                    <select id="ddl_IPSQueryType3" class="QueryType form-control" asp-for="IPSQueryType3" asp-items="ViewBag.leadQuery">
                        <option value="">Select Query</option>
                    </select>

                    @*<input name="ddl_IPSQueryType3" type="text" id="ddl_IPSQueryType3" class="form-control">*@
                    <input type="button" class="btn btn-primary btnForQuery" value="Add another Query Type" onclick="show_IPSQueryType_ForBtn('4','#ddl_IPSQueryType3');">
                </div>
            </div>
            <br /><br />

        </div>
        @{
            var displayProp4 = "display:none";
            if (Model.IPSQueryType4 != null)
            {
                displayProp4 = "display:block";
            }
        }
        <div class="initial1" id="div_IPSQueryType4" style=@displayProp4>
            <div class="group1">
                <label>IPS Query - 4</label>
            </div>
            <div class="group2">
                <div class="QueryInput" style="">
                    <select id="ddl_IPSQueryType4" class="QueryType form-control" asp-for="IPSQueryType4" asp-items="ViewBag.leadQuery">
                        <option value="">Select Query</option>
                    </select>

                    @*<input name="ddl_IPSQueryType4" type="text" id="ddl_IPSQueryType4" class="form-control">*@
                    <input id="btnAddMore4" type="button" class="btn btn-primary btnForQuery" value="Add another Query Type" onclick="show_IPSQueryType_ForBtn('5','#ddl_IPSQueryType4');">
                </div>
            </div>
            <br /><br />

        </div>
        @{
            var displayProp5 = "display:none";
            if (Model.IPSQueryType5 != null)
            {
                displayProp5 = "display:block";
            }
        }
        <div class="initial1" id="div_IPSQueryType5" style=@displayProp5>
            <div class="group1">
                <label>IPS Query - 5</label>
            </div>
            <div class="group2">
                <div class="QueryInput" style="">
                    <select id="ddl_IPSQueryType5" class="QueryType form-control" asp-for="IPSQueryType5" asp-items="ViewBag.leadQuery">
                        <option value="">Select Query</option>
                    </select>
                    @*<input name="ddl_IPSQueryType5" type="text" id="ddl_IPSQueryType5" class="form-control">*@
                    @*<input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_QueryType_5" id="hdn_QueryType_5" value="0">*@

                </div>
            </div>
            <br /><br />
        </div>

        <div class="row" id="div_IPSQueryTypeComment" style="display: none;">
            <div class="col-sm-3">
                <label>Others</label>
            </div>
            <div class="col-sm-9">
                <div class="input-control text">
                    <textarea id="txt_IPSQueryType_Others" placeholder="Comments"></textarea>
                </div>
            </div>
        </div>


        <div id="divQueryResponseType" style="display:none;">
            @{
                var displayPropResponse1 = "display:none";
                if (Model.IPSQueryType1 != null)
                {
                    displayPropResponse1 = "display:block";
                }
            }
            <div class="initial1" id="div_IPSResponseType" style=@displayPropResponse1>
                <div class="group1">
                    <label>Response to IPS Query - 1</label>
                </div>
                <div class="group2">
                    <select id="ddl_IPSResponsType" class="form-control" asp-for="IPSResponseType1" asp-items="ViewBag.leadQuery">
                        <option value="">Select Response</option>
                    </select>
                </div>
                <br /><br />
            </div>
            @{
                var displayPropResponse2 = "display:none";
                if (Model.IPSQueryType2 != null)
                {
                    displayPropResponse2 = "display:block";
                }
            }
            <div class="initial1" id="div_IPSResponseType2" style=@displayPropResponse2>
                <div class="group1">
                    <label>Response to IPS Query - 2</label>
                </div>
                <div class="group2">
                    <select id="ddl_IPSResponsType2" class="form-control" asp-for="IPSResponseType2" asp-items="ViewBag.leadQuery">
                        <option value="">Select Response</option>
                    </select>
                </div>
                <br /><br />
            </div>
            @{
                var displayPropResponse3 = "display:none";
                if (Model.IPSQueryType3 != null)
                {
                    displayPropResponse3 = "display:block";
                }
            }
            <div class="initial1" id="div_IPSResponseType3" style=@displayPropResponse3>
                <div class="group1">
                    <label>Response to IPS Query - 3</label>
                </div>
                <div class="group2">
                    <select id="ddl_IPSResponsType3" class="form-control" asp-for="IPSResponseType3" asp-items="ViewBag.leadQuery">
                        <option value="">Select Response</option>
                    </select>
                </div>
                <br /><br />

            </div>
            @{
                var displayPropResponse4 = "display:none";
                if (Model.IPSQueryType4 != null)
                {
                    displayPropResponse4 = "display:block";
                }
            }
            <div class="initial1" id="div_IPSResponseType4" style=@displayPropResponse4>
                <div class="group1">
                    <label>Response to IPS Query - 4</label>
                </div>
                <div class="group2">
                    <select id="ddl_IPSResponsType4" class="form-control" asp-for="IPSResponseType4" asp-items="ViewBag.leadQuery">
                        <option value="">Select Response</option>
                    </select>
                </div>
                <br /><br />
            </div>
            @{
                var displayPropResponse5 = "display:none";
                if (Model.IPSQueryType5 != null)
                {
                    displayPropResponse5 = "display:block";
                }
            }
            <div class="initial1" id="div_IPSResponseType5" style=@displayPropResponse5>
                <div class="group1">
                    <label>Response to IPS Query - 5</label>
                </div>
                <div class="group2">
                    <select id="ddl_IPSResponsType5" class="form-control" asp-for="IPSResponseType5" asp-items="ViewBag.leadQuery">
                        <option value="">Select Response</option>
                    </select>
                </div>
                <br /><br />

            </div>
        </div>
    </div>



    @*after query response*@




    @*<div class="initial1">
            <div class="group1"><label for="employement">Employment / Business classification:</label></div>
            <div class="group2"><input type="text" id="emp_classification" placeholder="Please enter and select employement/Business classification" value="" disabled /></div>
        </div><br /><br />*@

    @*<div class="card initial1">
            <h5>Freedom Logsheet</h5>
        </div>

        <div class="initial1">
            <div class="group1">
                <label for="request_edit_sanction" style="margin-right:250px">Request edit sanction:</label>
            </div>
            <label class="switch ml-4">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="initial1">
            <div class="group1"><label for="comments">Comments:</label></div>
            <div class="group2"><input type="text" name="comments" placeholder="Comments"></div>
        </div><br /><br>

        <div class="initial1">
            <div class="group1"><label for="Status">Status</label></div>
            <div class="group2">
                <select id="Status" name="Status">
                    <option value="-1">Select</option>
                </select>
            </div>
        </div><br />*@

    <div class="card initial1">
        <h5>Loan Product</h5>
    </div>

    <div class="initial1">
        <div class="group1"><label for="property_purchase_loan">Product Sold(if sale made)<span style="color:red;margin-left: 4px;font-size: 15px;">*</span></label></div>
        <div class="group2">
            <select id="property_purchase_loan" class="form-control" asp-for="LoanProductID" asp-items="ViewBag.loanProducts">
                <option value="">Select</option>
            </select>
            <span asp-validation-for="LoanProductID" class="text-danger"></span>

        </div>
    </div><br /><br>

    <div class="initial1">
        <div class="group1"><label for="Form_No">Form No:</label></div>
        <div class="group2"><input type="text" class="form-control" asp-for="FormNo" readonly></div>
    </div><br /><br>

    <div class="initial1">
        <div class="group1"><label for="amount">Amount(in INR):<span style="color:red;margin-left: 4px;font-size: 15px;">*</span></label></div>
        <div class="group2">
            <input type="text" class="form-control amt" asp-for="loanAmount">
            <span asp-validation-for="loanAmount" class="text-danger"></span>

        </div>

    </div><br /><br>


    <div class="card initial1">
        <h5>Insurance Product</h5>
    </div>

    <div class="initial1">
        <div class="group1"><label for="property_purchase_insurance">Product Sold(if sale made)</label></div>
        <div class="group2">
            <select id="property_purchase_insurance" class="form-control" asp-for="InsuranceProductID" asp-items="ViewBag.insuranceProducts">
                <option value="">Select</option>
            </select>
        </div>
    </div><br /><br>

    <div class="initial1">
        <div class="group1"><label for="Form_No_insurance">Form No:</label></div>
        <div class="group2"><input type="text" class="form-control" asp-for="FormNo" readonly></div>
    </div><br /><br>

    <div class="initial1">
        <div class="group1"><label for="amount_insurance">Amount(in INR):</label></div>
        <div class="group2">
            <input type="text" class="form-control amt" asp-for="insuranceAmount">
            <span asp-validation-for="insuranceAmount" class="text-danger"></span>

        </div>
    </div><br /><br>

    <div class="card initial1">
        <h5>Date of Action</h5>
    </div>

    <div class="initial1">
        <div class="group1"><label for="date">Date :</label></div>
        <div class="group2"><input type="date" id="dates" class="form-control" asp-for="DateOfAction" readonly></div>
    </div><br /><br>
    <div class="initial1">
        <div class="group1"><label for="comments">Comments</label></div>
        <div class="group2"><textarea placeholder="Comments" class="form-control" asp-for="Comments"></textarea></div>
    </div><br /><br /><br>
    <div class="button1 d-flex flex-row justify-content-end">
        <input id="button1" type="submit" value="Submit" class="button" />
    </div>
</form>

</div>
<div class="container app">
    <div class="d-flex flex-row justify-content-around">
        <a class="btn btn-primary btn1 selected" asp-controller="leadlist" asp-action="LeadSummary" asp-route-lead_Id="@Model.lead_Id">Summary</a>
        <a class="btn btn-primary btn1" asp-controller="leadlist" asp-action="LeadModification" asp-route-lead_Id="@Model.lead_Id" target="_blank">Modification</a>
        <a class="btn btn-primary btn1" asp-controller="leadlist" asp-action="LeadHistory" asp-route-LeadId="@Model.lead_Id" target="_blank">History</a>
        @*<button class="btn btn-primary btn1">Query History</button>*@
        <a class="btn btn-primary btn1" asp-controller="ProductsList" asp-action="AllProductsList" asp-route-lead_Id="@Model.lead_Id" target="_blank">Products</a>
        <a class="btn btn-primary btn1" asp-controller="Login" asp-action="UpdatePropertyDetails" asp-route-lead_Id="@Model.lead_Id" target="_blank">Property Details</a>
    </div>
</div>


<script type="text/javascript">

        //n = new Date();
        //y = n.getFullYear();
        //m = n.getMonth() + 1;
        //d = n.getDate();
        //document.getElementById("dates").value = m + "/" + d + "/" + y;

        // Data Picker Initialization
        // $('.datepicker').datepicker();
        //$('#dates').val(new Date().toDateInputValue());

        var statusValue = $('#status_lead').val();
        //if (statusValue == 2) {
        //    $("#emp_classification").removeAttr("disabled");
        //}

        $('.btn1').click(function (e) {
            $(".btn1").removeClass("selected");
            $(e.target).addClass("selected");
        });

        if (statusValue != 3) {
            $("#leadQueryDiv").css("display", "none");
            $("#divQueryType").css("display", "none");
        }

        function show_IPSQueryType_ForBtn(QueryNumber,currenInputId){
            let divFormat = "#div_IPSQueryType";
            let divId = divFormat + QueryNumber;
            if ($(currenInputId).val() == "") {
                alert("Query type is required");
            }
            else {
                $(divId).css("display", "block");
            }

        }

        @*$(document).ready(function () {
            if (@ViewBag.Message == 'Lead Data Has Been Added Successfully !!') {
                setTimeout(function () {
                    location.href = "/home";
                }, 5000);
            }
        })*@

        $("#chkQuery").click(function (e) {
            var isChecked = $(this).is(":checked");
            var UserRole = $("#userRole").val();
            if (isChecked) {
                if (UserRole == 2) {
                    $("#lblSwitchName").css("display", "inline-block");
                    $("#QueryStatusHidden").val('Q');

                } else {
                    alert("only Ho can raise a query");
                    $("#chkQuery").prop("checked", false);
                }
            }
            else {
                if (UserRole == 3) {
                    $("#QueryStatusHidden").val('R');
                    $("#lblSwitchName").css("display", "none");

                }
                else {
                    alert("only Branch can resolve a query");
                    $("#chkQuery").prop("checked", true);

                }
            }
        })

        if($("#userRole").val() == 3) {
            $("#divQueryResponseType").css("display", "block");
            $("#QueryText").text('Resolve Query');
            if ($("#QueryStatusHidden").val() == 'R') {
                $("#divQueryType").css("display", "none");

            }

        }


        if($("#QueryStatusHidden").val() == 'Q') {
            $("#chkQuery").prop("checked", true);
            $("#lblSwitchName").css("display", "inline-block");
            $(".btnForQuery").css("display", "none");
            $(".QueryType").css("width", "100%");
            $('.QueryType option:not(:selected)').prop('disabled', true);

        }
        else if($("#QueryStatusHidden").val() == 'R') {
            $("#chkQuery").prop("checked", false);
        }



    $(document).ready(function () {

        @*if ('@ViewBag.Message' == 'Lead Data Has Been Added Successfully !!' || '@ViewBag.Message'=='Lead Data Has Been Updated Successfully !!') {
            setTimeout(function () {
                location.href = "/LeadList/LeadSummary/@Model.lead_Id";
            }, 5000);
        }*@

        if ('@ViewBag.isSuccess' == 'True') {
            setTimeout(function () {
                location.href = "/LeadList/LeadSummary/@Model.lead_Id";
            }, 3000);
        }
        else if('@ViewBag.isSuccess' == 'False'){
             setTimeout(function () {
                location.href = "/LeadList/LeadModification/@Model.lead_Id";
            }, 3000);

        }

    })
    $(function () {
        $(".amt").keypress(function (e) {
            var keyCode = e.which;
            / 8 - (backspace), 32 - (space), 48-57 - (0-9) - Numbers /
            if ((keyCode != 8 || keyCode == 32) && (keyCode < 48 || keyCode > 57)) {
                return false;
            }
        });
    });


</script>
