@model LoanProcessManagement.Application.Features.LeadList.Queries.GetLeadByLeadIdDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LeadSummary";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:larger;
    }
    .row {
        display: flex;
        flex-direction: row;  
    }
    .btn {
        background-color: #343a40;
        color:white;
        margin-bottom:5px;
    }
        .btn:hover {
            background-color: #adb5bd;
            color: black;
            margin-bottom: 5px;
        }
    .app {
       width:80%;
    }
    .card > * {
        padding:8px 0px;
    }
    .selected {
        background: #adb5bd;
        color: #FFF;
    }
</style>
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div style="border: 1px solid #343a40" class="border">
                <div class="panel-heading"><h3>Lead Summary</h3></div>
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-around row ">
                        <div class="col-sm-6"><div class="form-group"><p>Form No.</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.FormNo</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row ">
                        <div class="col-sm-6"><div class="form-group"><p>Full Name</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.CustomerName</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Phone</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.CustomerPhone</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Product Chosen</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.Product</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Appointment Date</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.Appointment_Date.ToShortDateString()</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Current Status</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.LeadStatus</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Is Exempted from GST? (> 40L turnover)</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>NA</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Applicant Details</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p><a href="/ApplicantDetails/Index?lead_Id=@Model.Id&applicantType=0">Click here</a></p></div></div>
                    </div>
                </div>
                @*<partial name="_Tabs" />*@
                <div class="d-flex flex-row justify-content-around">
                    <a class="btn selected" asp-action="LeadSummary" asp-route-lead_Id="@Model.lead_Id">Summary</a>
                    <a class="btn " asp-action="LeadModification" asp-route-lead_Id="@Model.lead_Id" target="_blank">Modification</a>
                    <a class="btn " asp-action="LeadHistory" asp-route-LeadId="@Model.lead_Id" target="_blank">History</a>
                    <a class="btn " asp-controller="ProductsList" asp-action="AllProductsList" asp-route-lead_Id="@Model.lead_Id" target="_blank">Products</a>
                    <a class="btn " asp-controller="Login" asp-action="UpdatePropertyDetails" asp-route-lead_Id="@Model.lead_Id" target="_blank">Property Details</a>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn1').click(function (e) {
            $('.btn1').removeClass("selected");
            $(e.target).addClass("selected");
        });
    });

    if ('@Model.CurrentStatus' == 5) {
        $(".BranchBtn").css("display", "inline-block");

    }

</script>


