@model LoanProcessManagement.Application.Features.LeadList.Queries.GetLeadByLeadIdDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LeadSummary";
}

<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .btn {
      /*  background-color: #343a40;*/
        color: white;
        margin-bottom: 5px;
    }

        .btn:hover {
            background-color: #adb5bd;
            color: black;
            margin-bottom: 5px;
        }

    .app {
        width: 90%;
    }

    .card > * {
        padding: 8px 0px;
    }

    .selected {
        background: #adb5bd;
        color: #FFF;
    }
</style>
<div class="container app pb-3">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div style="border: 1px solid #343a40" class="border">
                <div class="panel-heading"><h5>Lead Summary</h5></div>
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-around row ">
                        <div class="col-sm-6"><div class="form-group"><p>Form No.</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.FormNo</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row ">
                        <div class="col-sm-6"><div class="form-group"><p>Full Name</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.CustomerName</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Phone</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.CustomerPhone</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Product Chosen</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.Product</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Appointment Date</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.Appointment_Date.ToShortDateString()</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Current Status</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>@Model.LeadStatus</p></div></div>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <div class="col-sm-6"><div class="form-group"><p>Is Exempted from GST? (> 40L turnover)</p></div></div>
                        <div class="col-sm-6"><div class="form-group"><p>NA</p></div></div>
                    </div>
                    <div id="forBranch" style="display:none">
                        <div class="d-flex flex-row justify-content-around row">
                            <div class="col-sm-6"><div class="form-group"><p>Applicant Details</p></div></div>
                            <div class="col-sm-6"><div class="form-group"><p><a href="/ApplicantDetails/Index?lead_Id=@Model.Id&applicantType=0">Click here</a></p></div></div>
                        </div>
                        <div class="d-flex flex-row justify-content-around row">
                            <div class="col-sm-6"><div class="form-group"><p>Add Income Assessment Details</p></div></div>
                            <div class="col-sm-6"><div class="form-group"><p><a href="/IncomeAssesment/Index?applicantType=0&lead_Id=@Model.Id">Click here</a></p></div></div>
                        </div>
                        <div class="d-flex flex-row justify-content-around row">
                            <div class="col-sm-6"><div class="form-group"><p>Cibil Check Details</p></div></div>
                            <div class="col-sm-6"><div class="form-group"><p><a href="/CibilCheckDetails/Index?lead_Id=@Model.Id&applicantType=0">Click here</a></p></div></div>
                        </div>
                        <div class="d-flex flex-row justify-content-around row">
                            <div class="col-sm-6"><div class="form-group"><p>Lead ITR Details</p></div></div>
                            <div class="col-sm-6"><div class="form-group"><p><a href="/LeadITRDetails/Index?lead_Id=@Model.Id&applicantType=0">Click here</a></p></div></div>
                        </div>
                        <div class="d-flex flex-row justify-content-around row" >
                            <div class="col-sm-6"><div class="form-group" ><p>Add GST Details</p></div></div>
                            <div class="col-sm-6"><div class="form-group" ><p><a href="/IncomeAssesment/CreateEnquiry?applicantType=0&lead_Id=@Model.Id">Click here</a></p></div></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/_Tabs.cshtml", (string)@ViewBag.lead_Id)
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#anch_summary").addClass("selected");

    })
    if ('@Model.CurrentStatus' == '2' && ('@Model.UserRoleId'=='2' || '@Model.UserRoleId'=='3')) {
         $("#forBranch").css("display", "block");
     }
     if('@Model.CurrentStatus' == '5') {
         $("#ThirdPartyCheck").css("display", "inline-block");
     }
    //-------------------------------------------------------------------------------------------------------------------
    $(document).ready(function () {
        if ('@TempData["ModificationSuccess"]' == 'True') {
            toastr.success('@TempData["ModificationMessage"]', "Success");

        }
        else if ('@TempData["ModificationSuccess"]' == 'False') {
            toastr.error('@TempData["ModificationMessage"]', "Error");


        }
        if ('@TempData["cibilCheckIsSuccess"]' == 'True') {
            toastr.success('@TempData["cibilCheckMessage"]', "Success");

        }
        else if ('@TempData["cibilCheckIsSuccess"]' == 'False') {
            toastr.error('@TempData["cibilCheckMessage"]', "Error");


        }
        if ('@TempData["applicantDetailIsSuccess"]' == 'True') {
            toastr.success('@TempData["applicantDetailMessage"]', "Success");

        }
        else if ('@TempData["applicantDetailIsSuccess"]' == 'False') {
            toastr.error('@TempData["applicantDetailMessage "]', "Error");

        }
        if ('@TempData["leadItrIsSuccess"]' == 'True') {
            toastr.success('@TempData["leadItrMessage"]', "Success");

        }
        else if ('@TempData["leadItrIsSuccess"]' == 'False') {
            toastr.error('@TempData["leadItrMessage"]', "Error");

        }

    })
    //-------------------------------------------------------------------------------------------------------------------

</script>