@model LoanProcessManagement.Application.Features.LeadList.Queries.GetLeadByLeadIdDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "LeadSummary";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<style>
    .row {
        display: flex;
        flex-direction: row;
             
    }
    .app {
       width:60%;
    }
    .padding-1 {
        margin-left: 120px;       
    }
    .padding-0 {
        padding-left: 220px;        
    }
    .padding-2 {
        padding-left: 220px;
    }
    .padding-3 {
        padding-left: 230px;
    }
    .padding-4 {
        padding-left: 170px;
    }
    .padding-5 {
        padding-left: 160px;
    }
    .padding-6 {
        padding-left: 180px;
    }
    .padding-7 {
        padding-left: 80px;
    }
    .card > * {
        padding:8px 0px;
    }
    .selected {
        background: #0d7db5;
        color: #FFF;
    }
</style>
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading">Lead Summary</div>
            <div class="card">
                <div class="card">
                    <div class="d-flex flex-row justify-content-around row ">
                        <p class="padding-1">Form No.</p>
                        <p class="padding-0">@Model.FormNo</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row ">
                        <p class="padding-1">Full Name</p>
                        <p class="padding-2">@Model.CustomerName</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Phone</p>
                        <p class="padding-3">@Model.CustomerPhone</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Product Chosen</p>
                        <p class="padding-4">@Model.Product</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Appointment Date</p>
                        <p class="padding-5">@Model.Appointment_Date.ToShortDateString()</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Current Status</p>
                        <p class="padding-6">@Model.LeadStatus</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Is Exempted from GST? (> 40L turnover)</p>
                        <p class="padding-7">NA</p>
                    </div>
                    <div class="d-flex flex-row justify-content-around row">
                        <p class="padding-1">Applicant Details</p>
                        <p class="padding-4"><a href="/ApplicantDetails/Index?lead_Id=@Model.Id&applicantType=0">Click here</a></p>
                    </div>
                </div>
            </div>
        </div>
        @*<partial name="_Tabs" />*@
        <div class="d-flex flex-row justify-content-around">
            <a class="btn btn-primary btn1 selected" asp-action="LeadSummary" asp-route-lead_Id="@Model.lead_Id">Summary</a>
            <a class="btn btn-primary btn1" asp-action="LeadModification" asp-route-lead_Id="@Model.lead_Id" target="_blank">Modification</a>
            <a class="btn btn-primary btn1" asp-action="LeadHistory" asp-route-LeadId="@Model.lead_Id" target="_blank">History</a>
            @*<button class="btn btn-primary btn1">Query History</button>*@
            <a class="btn btn-primary btn1" asp-controller="ProductsList" asp-action="AllProductsList" asp-route-lead_Id="@Model.lead_Id" target="_blank">Products</a>
            <a class="btn btn-primary btn1" asp-controller="Login" asp-action="UpdatePropertyDetails" asp-route-lead_Id="@Model.lead_Id" target="_blank">Property Details</a>


        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn1').click(function (e) {
            $('.btn1').removeClass("selected");
            $(e.target).addClass("selected");
        });
    });

</script>


