@model LoanProcessManagement.App.Models.IncomeAssessmentDetailsVm
    <link href="~/css/Common Css/Common1.css" rel="stylesheet" />
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add Income Assessment Details";
    var isSuccess = TempData["isSuccess"] != null ? Convert.ToBoolean(TempData["isSuccess"]) : false;
    var Message = TempData["Message"] != null ? TempData["Message"].ToString() : string.Empty;
}


@*<style>
    .tab {
        padding-left: 15px;
    }

    .AppTabs {
        display: none;
        margin-right: 3px;
        padding: 5px 30px;
        background: #191970;
        color: black;
    }

    .btn {
        width: inherit;
        justify-content: center;
    }

    .AppTabs:hover {
        background: #adb5bd;
        color: black;
    }

    .AppTabs:visited {
        text-decoration: none;
    }

    .selected {
        background: #0d7db5;
        color: black;
    }

    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card {
        /*background-color:slategray;*/
        background: linear-gradient(to bottom, rgba(251,251,251,10) 0%,rgba(242,242,242,10) 100%);
        font-family: sans-serif;
        font-size: 18px;
        border: 1px solid;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btnDiv {
        text-align: center;
    }

    .formDiv {
        border: 1px solid #343a40;
        padding-bottom: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }

    .navbar {
        position: fixed;
        left: 0px;
        top: 0px;
        height: auto;
        width: 100%;
    }

    .btnDiv ul {
        display: flex;
        list-style-type: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        margin-bottom: 0px;
        padding-left: 70px;
    }

        .btnDiv ul li {
            display: inline;
            list-style: none;
            font-size: 1rem;
            position: relative;
        }

            .btnDiv ul li.active {
                /* background-color: #b5aeae;*/
            }

            .btnDiv ul li a {
                text-decoration: none;
                color: #b5aeae;
                background: #343a40;
            }

            .btnDiv ul li.active a {
                color: #ffffff;
                background: #828385;
            }
</style>*@
<div class="container pb-5">
    <div class="container app">
        <div class="col-sm-12 col-lg-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
                <div class="panel-heading">
                    <h5>Add Customer Enquiry</h5>
                </div>
                <div class="formDiv">
                    <form method="post" action="/IncomeAssesment/Index" enctype="multipart/form-data">
                        <input type="hidden" asp-for="lead_Id" id="hdnLeadId">
                        <input type="hidden" asp-for="ApplicantType" id="hdnApplicantType">
                        <input type="hidden" asp-for="CreatedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="LastModifiedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="IsSubmitCount" />
                        <input type="hidden" asp-for="AppTypeList" />

                        <div class="btnDiv pt-5 pl-4 pr-4">
                            <ul class="row text-center rounded-nav pl-5">
                                <li id="l0"><a href="/IncomeAssesment/Index?applicantType=0&lead_Id=@Model.lead_Id" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" id="lnkCoApp_0">&nbsp;&nbsp;&nbsp;Applicant&nbsp;&nbsp;&nbsp;</a></li>
                                <li id="l1"><a id="lnkCoApp_1" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=1&lead_Id=@Model.lead_Id">Co-Applicant-1</a></li>
                                <li id="l2"><a id="lnkCoApp_2" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=2&lead_Id=@Model.lead_Id">Co-Applicant-2</a></li>
                                <li id="l3"><a id="lnkCoApp_3" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=3&lead_Id=@Model.lead_Id">Co-Applicant-3</a></li>
                                <li id="l4"><a id="lnkCoApp_4" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=4&lead_Id=@Model.lead_Id">Co-Applicant-4</a></li>
                                <li id="l5"><a id="lnkCoApp_5" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=5&lead_Id=@Model.lead_Id">Co-Applicant-5</a></li>
                            </ul>
                        </div>

                        @*<div class="btnDiv mt-5 ml-4">
            <ul class="row text-center rounded-nav pl-5">
                <li id="l0"><a href="/IncomeAssesment/Index?applicantType=0&lead_Id=@Model.lead_Id" class="nav-link border-1 text-uppercase font-weight-bold AppTabs_AppDetails btn-sm" id="tabProcess0">&nbsp;&nbsp;&nbsp;Applicant&nbsp;&nbsp;&nbsp;</a></li>
                <li id="l1"><a id="ContentPlaceHolder1_lnkCoApp1" class="nav-link border-1 text-uppercase font-weight-bold AppTabs_AppDetails btn-sm" href="/IncomeAssesment/Index?applicantType=1&lead_Id=@Model.lead_Id">Co-Applicant-1</a></li>
                <li id="l2"><a id="ContentPlaceHolder1_lnkCoApp2" class="nav-link border-1 text-uppercase font-weight-bold AppTabs_AppDetails btn-sm" href="/IncomeAssesment/Index?applicantType=2&lead_Id=@Model.lead_Id">Co-Applicant-2</a></li>
                <li id="l3"><a id="ContentPlaceHolder1_lnkCoApp3" class="nav-link border-1 text-uppercase font-weight-bold AppTabs_AppDetails btn-sm" href="/IncomeAssesment/Index?applicantType=3&lead_Id=@Model.lead_Id">Co-Applicant-3</a></li>
                <li id="l4"><a id="ContentPlaceHolder1_lnkCoApp4" class="nav-link border-1 text-uppercase font-weight-bold AppTabs_AppDetails btn-sm" href="/IncomeAssesment/Index?applicantType=4&lead_Id=@Model.lead_Id">Co-Applicant-4</a></li>
                <li id="l5"><a id="ContentPlaceHolder1_lnkCoApp5" class="nav-link border-1 text-uppercase font-weight-bold AppTabs_AppDetails btn-sm" href="/IncomeAssesment/Index?applicantType=5&lead_Id=@Model.lead_Id">Co-Applicant-5</a></li>
            </ul>
        </div>*@

                        <div id="ContentPlaceHolder1_alertMsg">
                            <div class="row tab pt-3 pr-1">
                                <div class="col-md-12 text-center">
                                    <label class="h4">Form No.</label>


                                    @*<div class="input-control text">*@
                                    <span id="ContentPlaceHolder1_lblFormNo" class="h4" style="color: black; border:none">
                                        <label>@Model.FormNo</label>
                                        <input type="hidden" asp-for="FormNo" />

                                    </span>
                                    @*</div>*@
                                </div>
                            </div>
                        </div>

                        <span id="ContentPlaceHolder1_spanMessage" style="color: red;"></span>

                        <div class="frames">
                            <div class="panel-body">
                                <hr />

                                <div style="display:flex;">
                                    <div style="width:100%; text-align:right;" class="p-1"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                                </div>
                                <div class="pl-2">
                                    <h4><u><b>Customer Details</b></u></h4>
                                </div>
                                <div class="form-group p-3">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Name</label>
                                            <p>@Model.CustomerName</p>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Customer Email</label>
                                            <p>@Model.CustomerEmail</p>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Customer Mobile</label>
                                            <p>@Model.CustomerPhone</p>
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group p-3">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Employee Type</label>
                                            <p>@Model.EmploymentType</p>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">No. of Bank Accounts</label>
                                            <p id="idNoOfBankAccounts">@Model.NoOfBankAccounts</p>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">No. of Bank Details Uploaded</label>
                                            <p id="idNoOfBankAccUpld">@Model.IncomeRecords</p>
                                        </div>
                                    </div>
                                </div>


                                <div id="IdentificationDv">
                                    <hr />
                                    <div id="divIdentification">
                                        <h4><u><b>Statement Period</b></u></h4>
                                    </div>

                                    <div class="form-group ">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="StartDate" class="control-label">Statement Start Month</label>

                                                <input asp-for="StartDate" class="form-control noTxtInput" id="startDate" placeholder="mm-yyyy" onkeydown="return /[a-z]/i.test(event.key)" autocomplete="off" />

                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EndDate" class="control-label">Statement End Month</label>

                                                <input asp-for="EndDate" class="form-control noTxtInput" id="endDate" placeholder="mm-yyyy" onkeydown="return /[a-z]/i.test(event.key)" readonly />

                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <label>&nbsp;&nbsp;</label>
                                                <input type="reset" class="btn btn-primary" value="Clear Date Filter" id="btnClear" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div id="divEmployerDetails">
                                        <hr />
                                        <h4><u><b>Employer Details</b></u></h4>
                                    </div>
                                    <div class="pt-2" style="height: 5px;"></div>
                                    <div class="form-group p-3">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName1" class="control-label">Employer Name 1<span style="color: Red">&nbsp;*</span></label>

                                                <input asp-for="EmployerName1" class="form-control" maxlength="100" placeholder="Employer Name 1" onkeydown="return /[a-z_ ]/i.test(event.key)" />
                                                <span asp-validation-for="EmployerName1" class="text-danger"></span>
                                            </div>


                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName2" class="control-label">Employer Name 2</label>

                                                <input asp-for="EmployerName2" class="form-control" maxlength="100" placeholder="Employer Name 2" onkeydown="return /[a-z_ ]/i.test(event.key)" />
                                                <span asp-validation-for="EmployerName2" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName3" class="control-label">Employer Name 3</label>

                                                <input asp-for="EmployerName3" class="form-control" maxlength="100" placeholder="Employer Name 3" onkeydown="return /[a-z_ ]/i.test(event.key)" />
                                                <span asp-validation-for="EmployerName3" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group p-3">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName4" class="control-label">Employer Name 4</label>

                                                <input asp-for="EmployerName4" class="form-control" maxlength="100" placeholder="Employer Name 4" onkeydown="return /[a-z_ ]/i.test(event.key)" />
                                                <span asp-validation-for="EmployerName4" class="text-danger"></span>
                                            </div>


                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName5" class="control-label">Employer Name 5</label>

                                                <input asp-for="EmployerName5" class="form-control" maxlength="100" placeholder="Employer Name 5" onkeydown="return /[a-z_ ]/i.test(event.key)" />
                                                <span asp-validation-for="EmployerName5" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div id="divConverted5">
                                    <h4><u><b>Select Type of File Upload</b></u></h4>
                                </div>
                                <div id="fileDiv" class="pt-2">

                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <input id="radGenerateLink" asp-for="FileType" type="radio" name="FileType" value="GenerateLink" checked="checked" />
                                                Generate Link
                                                &nbsp;&nbsp;&nbsp;
                                                <input id="radFileUpload" asp-for="FileType" type="radio" name="FileType" value="FileUpload" />
                                                Upload File
                                                <span asp-validation-for="FileType" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="divFileUpload" style="display : none">
                                    <div id="divFillDetails">
                                        <hr />
                                        <h4><u><b>Fill Details</b></u></h4>
                                    </div>
                                    <div class="pt-2" style="height: 5px;"></div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-4  col-sm-12">
                                                <label asp-for="Institution_Id" class="control-label">Institution Name<span style="color: Red">&nbsp;*</span></label>

                                                <div class="input-control text">
                                                    <select asp-for="Institution_Id" class="form-control" asp-items="ViewBag.institutions">
                                                        <option value="">Select Institution</option>
                                                        @*<option value="1">AU Small Finance Bank</option>
                                                        <option value="2">Acme Bank Ltd</option>
                                                        <option value="3">Adarsh Bank</option>
                                                        <option value="4">Ahmedabad District Co-Op</option>
                                                        <option value="5">Airtel Payments Bank</option>*@
                                                    </select>
                                                    <span asp-validation-for="Institution_Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="DocumentType" class="control-label">Document Type<span style="color: Red">&nbsp;*</span></label><br />

                                                <input id="radScannedDocument" asp-for="DocumentType" type="radio" name="DocumentType" value="ScannedDocument" />
                                                Scanned Document
                                                &nbsp;&nbsp;&nbsp;
                                                <input id="radStatement" asp-for="DocumentType" type="radio" name="DocumentType" value="e-Statement" />
                                                e-Statement<br />
                                                <span asp-validation-for="DocumentType" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="IPdf" class="control-label">Upload File (PDF Only)<span style="color: Red">&nbsp;*</span></label>

                                                <input type="file" asp-for="IPdf" id="fileUploadPdf" class="form-control" accept=".pdf" onchange="validate_fileupload(this,&#39;pdf&#39;);">
                                                <span asp-validation-for="IPdf" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="FilePassword" class="control-label">PDF File Passwords (if any) @*<span style="color: Red">&nbsp;*</span>*@</label>

                                                <input type="password" asp-for="FilePassword" class="form-control" placeholder="Pdf Password" />
                                                <span asp-validation-for="FilePassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row tab pb-3">
                                    <div class="col-md-12">
                                        <center>
                                            <input type="submit" name="btnAddIncomeDetails" value="Submit" id="btnSubmitIncomeDetails" class="btn" style="background-color: #343a40; color:white;">&nbsp
                                            <a id="cancelbutton" class="btn btn-danger" href="/LeadList/LeadSummary/@Model.LeadID">Cancel</a>
                                        </center>
                                    </div>
                                </div>

                                <div id="divIncomeRecords">
                                    <div>
                                        <hr />
                                        <h4><u><b>Income Assessment Records</b></u></h4>
                                    </div>
                                    <div>
                                        @await Component.InvokeAsync("IncomeAssessmentRecordsList", new { applicantType = Model.ApplicantType, lead_Id = Model.lead_Id })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container mt-5 mb-4">
    <div class="container app">
        <div class="col-sm-12 col-lg-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
                <div class="panel-heading">
                    <h5>Add Customer Enquiry</h5>
                </div>
                <div class="formDiv">
                    <form method="post" action="/IncomeAssesment/Index" enctype="multipart/form-data">
                        <input type="hidden" asp-for="lead_Id" id="hdnLeadId">
                        <input type="hidden" asp-for="ApplicantType" id="hdnApplicantType">
                        <input type="hidden" asp-for="CreatedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="LastModifiedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="IsSubmitCount" />
                        <input type="hidden" asp-for="AppTypeList1" />

                        <div style="height: 15px;"></div>
                        <div class="btnDiv pl-4 pr-4">
                            <ul>

                                <li id="l0"><a id="lnkCoApp_0" href="/IncomeAssesment/Index?applicantType=0&lead_Id=@Model.lead_Id" class="AppTabs btn-sm">Applicant</a></li>
                                <li id="l1"><a id="lnkCoApp_1" class="AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=1&lead_Id=@Model.lead_Id">Co-Applicant-1</a></li>
                                <li id="l2"><a id="lnkCoApp_2" class="AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=2&lead_Id=@Model.lead_Id">Co-Applicant-2</a></li>
                                <li id="l3"><a id="lnkCoApp_3" class="AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=3&lead_Id=@Model.lead_Id">Co-Applicant-3</a></li>
                                <li id="l4"><a id="lnkCoApp_4" class="AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=4&lead_Id=@Model.lead_Id">Co-Applicant-4</a></li>
                                <li id="l5"><a id="lnkCoApp_5" class="AppTabs btn-sm" href="/IncomeAssesment/Index?applicantType=5&lead_Id=@Model.lead_Id">Co-Applicant-5</a></li>
                            </ul>
                        </div>
                        <div id="ContentPlaceHolder1_alertMsg">
                            <div class="row tab pt-3">
                                <div center">
                                    <label class="h5">Form No.</label>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-control text-left">
                                        <span id="lblFormNo" class="h5" style="color: black; border:none">
                                            <label>@Model.FormNo</label>
                                            <input type="hidden" asp-for="FormNo" />

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 5px;"></div>
                        <span id="ContentPlaceHolder1_spanMessage" style="color: red;"></span>
                        <div style="height: 1px;"></div>
                        <div class="frames">
                            <div class="panel-body">
                                <hr />
                                <h4><u><b>Customer Details</b></u></h4>

                                <div style="display:flex;">
                                    <div class="col-md-4">

                                    </div>
                                    <div style="width:100%; text-align:right;"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                                </div>
                                <div class="pt-2" style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Name</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label>@Model.CustomerName</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Email</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label>@Model.CustomerEmail</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Mobile</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label>@Model.CustomerPhone</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Employee Type</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label>@Model.EmploymentType</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">No of Bank Accounts</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label id="idNoOfBankAccounts">@Model.NoOfBankAccounts</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div id="IdentificationDv">
                                    <div style="height: 5px;"></div>
                                    <hr />
                                    <div id="divIdentification">
                                        <h4><u><b>Statement Period</b></u></h4>
                                    </div>
                                    <div class="pt-2" style="height: 5px;"></div>

                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="StartDate" class="control-label noTxtInput">Statement Start Month<span style="color: Red">&nbsp;*</span></label>

                                                <input asp-for="StartDate" class="form-control" id="startDate" placeholder="mm-yyyy" onkeydown="return /[a-z]/i.test(event.key)" autocomplete="off" />
                                                <span asp-validation-for="StartDate" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EndDate" class="control-label noTxtInput">Statement End Month<span style="color: Red">&nbsp;*</span></label>

                                                <input asp-for="EndDate" class="form-control" id="endDate" placeholder="mm-yyyy" onkeydown="return /[a-z]/i.test(event.key)" readonly />
                                                <span asp-validation-for="EndDate" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-2 col-sm-12">
                                                <label>&nbsp;&nbsp;</label>
                                                <input type="reset" class="btn btn-primary" value="Clear Date Filter" id="btnClear" />
                                            </div>

                                        </div>
                                    </div>

                                    <div style="height: 5px;"></div>
                                    <div style="height: 5px;"></div>
                                </div>

                                <div>
                                    <div id="divEmployerDetails">
                                        <hr />
                                        <h4><u><b>Employer Details</b></u></h4>
                                    </div>
                                    <div class="pt-2" style="height: 5px;"></div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName1" class="control-label">Employer Name 1<span style="color: Red">&nbsp;*</span></label>

                                                <input asp-for="EmployerName1" class="form-control" maxlength="100" placeholder="Enter Employer Name 1" />
                                                <span asp-validation-for="EmployerName1" class="text-danger"></span>
                                            </div>


                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName2" class="control-label">Employer Name 2</label>

                                                <input asp-for="EmployerName2" class="form-control" maxlength="100" placeholder="Enter Employer Name 2" />
                                                <span asp-validation-for="EmployerName2" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName3" class="control-label">Employer Name 3</label>

                                                <input asp-for="EmployerName3" class="form-control" maxlength="100" placeholder="Enter Employer Name 3" />
                                                <span asp-validation-for="EmployerName3" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName4" class="control-label">Employer Name 4</label>

                                                <input asp-for="EmployerName4" class="form-control" maxlength="100" placeholder="Enter Employer Name 4" />
                                                <span asp-validation-for="EmployerName4" class="text-danger"></span>
                                            </div>


                                            <div class="col-lg-4 col-sm-12">
                                                <label asp-for="EmployerName5" class="control-label">Employer Name 5</label>

                                                <input asp-for="EmployerName5" class="form-control" maxlength="100" placeholder="Enter Employer Name 5" />
                                                <span asp-validation-for="EmployerName5" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div id="divConverted5">
                                    <h4><u><b>Select Type of File Upload</b></u></h4>
                                </div>
                                <div id="fileDiv" class="pt-2">

                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <input id="radGenerateLink" asp-for="FileType" type="radio" name="FileType" value="GenerateLink" checked="checked" />
                                                Generate Link
                                                &nbsp;&nbsp;&nbsp;
                                                <input id="radFileUpload" asp-for="FileType" type="radio" name="FileType" value="FileUpload" />
                                                Upload File
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="divFileUpload" style="display : none">
                                    <div id="divFillDetails">
                                        <hr />
                                        <h4><u><b>Fill Details</b></u></h4>
                                    </div>
                                    <div class="pt-2" style="height: 5px;"></div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-6 col-sm-12">
                                                <label asp-for="Institution_Id" class="control-label">Institution Name<span style="color: Red">&nbsp;*</span></label>

                                                <div class="input-control text">
                                                    <select asp-for="Institution_Id" class="form-control">
                                                        <option value="">Select Institution</option>
                                                        <option value="1">AU Small Finance Bank</option>
                                                        <option value="2">Acme Bank Ltd</option>
                                                        <option value="3">Adarsh Bank</option>
                                                        <option value="4">Ahmedabad District Co-Op</option>
                                                        <option value="5">Airtel Payments Bank</option>
                                                    </select>
                                                    <span asp-validation-for="Institution_Id" style="color:Red;display:block;"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-12">
                                                <label asp-for="DocumentType" class="control-label">Document Type</label><br />

                                                <input id="radScannedDocument" asp-for="DocumentType" type="radio" name="DocumentType" value="ScannedDocument" />
                                                Scanned Document
                                                &nbsp;&nbsp;&nbsp;
                                                <input id="radStatement" asp-for="DocumentType" type="radio" name="DocumentType" value="e-Statement" />
                                                e-Statement
                                                <span asp-validation-for="DocumentType" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-lg-6 col-sm-12">
                                                <label asp-for="IPdf" class="control-label">Upload File (PDF Only)</label>

                                                <input type="file" asp-for="IPdf" id="fileUploadPdf" class="form-control" accept=".pdf" onchange="validate_fileupload(this,&#39;pdf&#39;);">
                                                <span asp-validation-for="IPdf" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-6 col-sm-12">
                                                <label asp-for="FilePassword" class="control-label">PDF File Passwords (if any) </label>

                                                <input asp-for="FilePassword" class="form-control" placeholder="Enter Pdf Password" />
                                                <span asp-validation-for="FilePassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row tab">
                                    <div class="col-md-12">
                                        <center>
                                            <input type="submit" name="btnAddIncomeDetails" value="Submit" id="btnSubmitIncomeDetails" class="btn" style="background-color: #343a40; color:white;">&nbsp
                                            <a id="cancelbutton" class="btn btn-danger" href="/LeadList/LeadSummary/@Model.LeadID">Cancel</a>
                                        </center>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@

<script>

    $(document).ready(function () {
        //debugger
        if ('@isSuccess'.toLowerCase() == 'True'.toLowerCase()) {
            toastr.success('@Message', "Success");
        }
    });



    $(document).ready(function () {

        $("#startDate").datepicker({
            showOn: "button",
            changeMonth: true,
            changeYear: true,
            format: "yyyy-mm",
            endDate: '-12m',
            startDate: '-15m',
            viewMode: "months",
            minViewMode: "months",
            //format: "dd-mm-yyyy",
            //dateFormat: 'dd-mm-yy'
            yearRange: "-100:+0"
        }).on('changeDate',function (ev) {

            var month = ev.date.getMonth();
            var year = ev.date.getFullYear();

            var selectedDate = new Date(year, month, 1);
            selectedDate.setMonth(selectedDate.getMonth() + 11);

            let monthTemp = selectedDate.getMonth() + 1;

            if (monthTemp < 10) {
                monthTemp = "0" + monthTemp;
            }

            $("#endDate").val(selectedDate.getFullYear() + "-" + monthTemp).datepicker({
                changeMonth: true,
                changeYear: true,
                format: "yyyy-mm",
                viewMode: "months",
                minViewMode: "months",
                yearRange: "-100:+0"
            });
        });

        $('#btnClear').click(function () {

                $('#startDate').val('');
                $('#endDate').val('');

        });

        $(function () {
            //debugger
            var jsArray = @Html.Raw(Json.Serialize(Model.AppTypeList));
            for (var i = 0; i < jsArray.length; i++) {
                var id = "#lnkCoApp_" + jsArray[i];
                $(id).css('pointer-events', 'auto');
                //$(id).css("display", "inline-block");
                //$(id).show();
            }
        });
    });

    $(function () {
        $(".noTxtInput").keypress(function (e) {
            var keyCode = e.which;
            /* 8 - (backspace), 32 - (space), 48-57 - (0-9) - Numbers */
            if ((keyCode != 8 || keyCode == 32) && (keyCode < 48 || keyCode > 57)) {
                return false;
            }
        });
    });

    $(document).ready(function () {

        if ('@ViewBag.applicantTypeNo' == 0) {
            $("#l0").removeClass("active");
            $("#l0").addClass("active");


        }

        if ('@ViewBag.applicantTypeNo' == 1) {
            $("#l1").removeClass("active");
            $("#l1").addClass("active");


        }

        else if ('@ViewBag.applicantTypeNo' == 2) {
            $("#l2").removeClass("active");
            $("#l2").addClass("active");

        }

        else if ('@ViewBag.applicantTypeNo' == 3) {
            $("#l3").removeClass("active");
            $("#l3").addClass("active");


        }

        else if ('@ViewBag.applicantTypeNo' == 4) {
            $("#l4").removeClass("active");
            $("#l4").addClass("active");


        }
        else if ('@ViewBag.applicantTypeNo' == 5) {
            $("#l5").removeClass("active");
            $("#l5").addClass("active");


        }
    });

    $('.AppTabs').click(function (e) {
        $(".AppTabs").removeClass("selected");
        $(e.target).addClass("selected");
    });

    $(function () {
        $("input[name='FileType']").change(function () {
            if ($("#radFileUpload").is(":checked")) {
                $("#divFileUpload").show();
            } else {
                $("#divFileUpload").hide();
            }
        });
    });

    //debugger
    var labelVal = $("#idNoOfBankAccounts").text();
    if (@Model.NoOfBankAccounts <= @Model.IsSubmitCount) {
        $("#btnSubmitIncomeDetails").attr('disabled', 'disabled');
    }

    function validate_fileupload(filename, extvalues) {
        //debugger;
        var allowedExt = extvalues.split(',');
        var filearr = filename.value.toLowerCase().split('.');
        var fileext = filearr[filearr.length - 1];
        if (allowedExt.includes(fileext)) {
            return true;
        }
        else {
            alert("Please Select File of " + extvalues + " Extension Format Only");
            filename.value = "";
            return false;
        }
    }

    if (@Model.IncomeRecords == 0) {
        $("#divIncomeRecords").hide()
    }
    else {
        $("#divIncomeRecords").show()
    }
</script>





