@model IEnumerable<LoanProcessManagement.Application.Features.CreditGstDetails.CreditGstCheckDetails.Queries.GetCreditGstDetailsVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "CreditITRDetailsList";
}

<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    /*.btn {
        background-color: #343a40;
        color: white;
        margin-bottom: 5px;
    }*/

        .btn:hover {
            background-color: #adb5bd;
            color: black;
            margin-bottom: 5px;
        }

    .selected {
        background: #adb5bd;
        color: #FFF;
    }
</style>

<div class="container app">
    <div class="col-sm-12">
        @*<div>
        <div class="row">
            <div class="col-3">
                <label>Credit Report</label><span style="color: Red">&nbsp;*</span>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-5">
                    <div id="divBranch" class="input-control text">
                        <select id="enquiryVal" class="form-control">
                            <option value="choice">Select</option>
                            <option value="cibil" id="cibil">Cibil Enquiry Details</option>
                            <option value="gst" id="gst">GST Enquiry Details</option>
                            <option value="itr" id="itr">ITR Enquiry Details</option>
                        </select>
                    </div>
                </div>

                <div class="col-3">
                    <input type="button" asp-action="" class="btn btn-primary  btn-md" onclick="myfun()" value="Submit" id="btnSubmit">
                </div>
            </div>
        </div>
</div>*@
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>GST Report List</h5></div>
            
            <div class="panel-body">
                <div id="alertMsg" visible="false" runat="server">
                    <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                </div>
                <div class="card" style="padding:15px;">
                    <div>
                        <div class="row">
                            <div class="col-3">
                                <br>
                                <label>Select Report</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <div id="divBranch" class="input-control text">
                                        <select id="enquiryVal" class="form-control">
                                            <option value="cibil" id="cibil">Cibil Enquiry Details</option>
                                            <option value="gst" id="gst" selected>GST Enquiry Details</option>
                                            <option value="itr" id="itr">ITR Enquiry Details</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <input type="button" class="btn btn-dark  btn-md" @*onclick="myfun()"*@ value="Submit" id="btnSubmit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="CreditDetailsList" class="display table-responsive-lg">
                        <thead>
                            <tr>
                                <th>
                                    Form No
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Contact Number
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Created Date
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.FormNo, "userGstDetails", "CreditDetails",new { FormNo = item.FormNo })
                                </td>
                                <!--<td>-->
                                    @*@Html.DisplayFor(modelItem => item.FormNo )*@
                                <!--</td>-->
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                @*<td>
            @Html.DisplayFor(modelItem => item.FormNo)
        </td>*@

                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*@await Html.PartialAsync("~/Views/Shared/_Tabs.cshtml", (string)@ViewBag.lead_Id)*@
    </div>
</div>
<script>
    $(document).ready(function () {

        var usrTable = $('#CreditDetailsList').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 50, 100, 200, 500], [10, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true
        });
    });

    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            //alert('hello');
            if ($("#enquiryVal").val() == "itr") {
                setTimeout(function () {
                    location.href = "/CreditITRDetailsList";
                }, 500);
            }
            if ($("#enquiryVal").val() == "cibil") {
                setTimeout(function () {
                    location.href = "/CreditCibilDetailsList";
                }, 500);
            }
            if ($("#enquiryVal").val() == "gst") {
                setTimeout(function () {
                    location.href = "/CreditGstDetailsList";
                }, 500);
            }
        });
    });

</script>
