@model IEnumerable<LoanProcessManagement.Application.Features.CreditGstDetails.UserDetails.Queries.GetCreditGstUserDetailsVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "CreditITRDetailsList";
}

<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .btn {
        /*background-color: #343a40;*/
        color: white;
        margin-bottom: 5px;
    }

        .btn:hover {
            background-color: #adb5bd;
            color: black;
            margin-bottom: 5px;
        }

    .selected {
        background: #adb5bd;
        color: #FFF;
    }
</style>

<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>GST Enquiry Details</h5></div>
            <div class="panel-body">
                @*<div id="alertMsg" visible="false" runat="server">
                    <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                    <div style="margin-bottom: 10px"></div>
                </div>*@
                <div class="card" style="padding:5px;">
                    <table id="CreditDetailsList" class="display table-responsive-lg">
                        <h5><b>Form No. : @ViewBag.FormNo</b></h5>
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                   Applicant Type
                                </th>
                                <th>
                                    Enquiry Date
                                </th>
                                <th>
                                    Download(Pdf)
                                </th>
                                <th>
                                    Download(Excel)
                                </th>                              
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicantName)
                                </td>
                                <td>
                                    @*Applicant-@Html.DisplayFor(modelItem => item.ApplicantType)*@
                                    @if (item.ApplicantType > 0){
                                        <span>Co-Applicant-</span>@Html.DisplayFor(modelItem => item.ApplicantType);
                                    }
                                    else{
                                        <span>Applicant</span>
                                    }
                                </td>
                                <td>
                                    @{var date = item.CreatedDate.ToString().Split(" ");
                                    }
                                    @date[0]
                                </td>
                                <td>
                                    <button type="button" onclick="downloadFile(event, '@item.PdfFile', '@item.FormNo')">Click Here</button>
                                    
                                </td>
                                <td>
                                    <button type="button" onclick="downloadFile(event, '@item.ExcelFile', '@item.FormNo')">Click Here</button>
                                    
                                </td>
                                @*<td>
                                    <button class="btn btn-primary btn-sm">Download</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">Download</button>
                                </td>*@
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        var usrTable = $('#CreditDetailsList').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 50, 100, 200, 500], [10, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true
        });
    });

    function downloadFile(e,fileName,formNo) {
        console.log(fileName);
        e.preventDefault();
        url = '/CreditDetails/Download/' + fileName + "/" + formNo;
        location.href = url;
    }
</script>