@model IEnumerable<LoanProcessManagement.App.Models.IncomeAssessmentRecordsListVM>

<div>
<table class="display table table-responsive-lg">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.EmployerName1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployerName2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployerName3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployerName4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployerName5)
                </th>*@
                <th >
                    @Html.DisplayNameFor(model => model.FileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Institution_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{var date = item.CreatedDate.ToString().Split(" ");}
                        @date[0]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.EmployerName1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployerName2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployerName3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployerName4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployerName5)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Institution_Id)*@
                        @if(item.Institution_Id == 0){
                        <span> </span>
                        }
                        @if(item.Institution_Id == 1){
                        <span>AU Small Finance Bank</span>
                        }
                        @if(item.Institution_Id == 2){
                        <span>Acme Bank Ltd</span>
                        }
                        @if(item.Institution_Id == 3){
                        <span>Adarsh Bank</span>
                        }
                        @if(item.Institution_Id == 4){
                        <span>Ahmedabad District Co-Op</span>
                        }
                        @if(item.Institution_Id == 5){
                        <span>Airtel Payments Bank</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
<script>
    $(document).ready(function () { 
        $("#DataTables_Table_0").DataTable().destroy();
    });
</script>