@model IEnumerable<LoanProcessManagement.Application.Features.ProductsList.Queries.GetProductsListQueryVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "AllProductsList";
}

<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    /*.btn {
        background-color: #343a40;
        color: white;
        margin-bottom: 5px;
    }*/

        .btn:hover {
            background-color: #adb5bd;
            color: black;
           /* margin-bottom: 5px;*/
        }

    .selected {
        background: #adb5bd;
        color: #FFF;
    }
</style>

<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>Products</h5></div>
            <div class="panel-body">
                <div id="alertMsg" visible="false" runat="server">
                    <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                    <div style="margin-bottom: 10px"></div>
                </div>
                <div class="card" style="padding:5px;">
                    <table id="AllProductsList" class="display">
                        <thead>
                            <tr>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Form No.
                                </th>
                                <th>
                                    Amount
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.ProductName != null)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormNo)
                                    </td>
                                    <td>
                                        ₹  @Html.DisplayFor(modelItem => item.Amount)
                                    </td>

                                </tr>
                                }
                                if (item.InsuranceName != null)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsuranceName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormNo)
                                    </td>
                                    <td>
                                        ₹  @Html.DisplayFor(modelItem => item.InsuranceAmount)
                                    </td>

                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/_Tabs.cshtml", (string)@ViewBag.lead_Id)
    </div>
</div>
<script>
    $(document).ready(function () {

        var usrTable = $('#AllProductsList').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 15,
            "aLengthMenu": [[25, 50, 100, 200, 500], [25, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true
        });
    });
</script>


