@model LoanProcessManagement.Application.Features.ChangePassword.Commands.ChangePassword.ChangePasswordCommand

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ChangePassword";

}
<style>
    .error-msg {
        width: 100%;
        font-family: 'nobelregular';
        color: #ff0002;
        display: none;
        margin-left:10px;
        
    }
    #submitBtn:hover {
        background-color: #808080;
        color: white;
    }
</style>

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
            <div style="border: 1px solid #343a40" class="border">
                <div class="panel-heading">
                    <h5>Change Password</h5>
                </div>
                <div class="panel-body" style="border: 1px solid #343a40; padding-left: 2%; padding-right: 1%; padding-top: 1%; padding-bottom: 1%;">
                    <div class="form-group label-text-border">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                            </div>
                        </div>
                    </div>

                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div style="text-align:end" class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label><span class="text-danger"> All * marked fields are mandatory</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group label-text-border">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    
                                    <label asp-for="OldPassword" class="control-label label-padding">Old Password<span style="color: red; width: 10%;">*</span></label>
                                
                                    <input type="password" asp-for="OldPassword" id="oldPassword" class="form-control text-box " placeholder="Enter Old Password" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    <span id="OldPasswordMessageError" class="text-danger"></span>
                                    <span id="OldPasswordMessageSuccess" class="text-success"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group label-text-border">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label asp-for="NewPassword" class="control-label label-padding">New Password<span style="color: red; width: 10%;">*</span></label>

                                    <input type="password" asp-for="NewPassword" id="newPassword" onkeyup="validate()" class="form-control text-box" placeholder="Enter New Password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    <p class="error-msg"></p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group label-text-border">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <label asp-for="ConfirmPassword" class="control-label label-padding">Confirm Password<span style="color: red; width: 10%;">*</span></label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control text-box" placeholder="Enter Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12"></div>
                                <div class="col-lg-4 col-sm-12">
                                    <input type="submit" value="Update Password" id="submitBtn" class="btn btn-dark"/>
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="dashboard">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>               
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var result = true;

    function validate() {
        var password1 = $("#oldPassword").val();
        var password2 = $("#newPassword").val();
        if (password1 == password2) {
            $(".error-msg").html("New Password should not be same as Old Password.").show();
            $("#submitBtn").attr('disabled', 'disabled');
            return false;
        } else {
            $(".error-msg").html("").hide();
            $("#submitBtn").removeAttr('disabled');
            ValidatePassword();
        }
    }

    $("#NewPassword").keyup(function () {
        var pswd = $(this).val();
        //validate the length
        if (pswd.length < 8) {
            $('#length').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;

        } else {
            $('#length').removeClass('invalid').addClass('valid-pass');
            val++;
            result = true;
        }

        //validate letter
        if (pswd.match(/[A-z]/)) {
            $('#letter').removeClass('invalid').addClass('valid-pass');
            val++;
            result = true;
        } else {
            $('#letter').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;
        }

        //validate capital letter
        if (pswd.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid-pass');
            val++;
            result = true;
        } else {
            $('#capital').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;
        }

        //validate number
        if (pswd.match(/\d/)) {
            $('#number').removeClass('invalid').addClass('valid-pass');
            result = true;
            val++;

        } else {
            $('#number').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;

        }

    }).focus(function () {
        $('#pswd_info').show();
    }).blur(function () {
        $('#pswd_info').hide();
    });

        if ('@ViewBag.Issuccesflag' == 'True') {
            toastr.success('@ViewBag.Message', "Success");
        }
        else if ('@ViewBag.Issuccesflag' == 'False') {
            toastr.error('@ViewBag.Message', "Error");

    }

    $('#oldPassword').blur(function () {
           //debugger;
            var OldPassword = $(this).val();
            
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("VerifyOldPassword", "Login")',
                    data: {
                        oldPass: OldPassword,
                    },

                    success: function (data) {
                        //debugger;
                        if (data == true) {
                            $("#OldPasswordMessageSuccess").text("Password Correct");
                            $("#OldPasswordMessageError").text("");
                        }
                        else {
                            $("#OldPasswordMessageError").text("Password Incorrect");
                            $("#OldPasswordMessageSuccess").text("");

                        }
                    },
                    error: function (ex) {
                        console.log('something went wrong - debug it!', ex);
                    }
                })                     

        });
</script>
