@model LoanProcessManagement.Application.Features.ChangePassword.Commands.ChangePassword.ChangePasswordCommand

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ChangePassword";

}
<style type="text/css">
    #pswd_info {
        position: relative;
        left: 20px;
        right: 40px;
        width: 70%;
        padding: 15px;
        background: #fefefe;
        font-family: Arial;
        font-size: 15px;
        color: #444;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    }

        #pswd_info h4 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: normal;
        }

        #pswd_info::before {
            content: "\25B2";
            position: relative;
            top: -19px;
            left: 45%;
            font-size: 16px;
            line-height: 14px;
            color: #ddd;
            text-shadow: none;
            display: block;
        }
    .invalid {
        background: url(Content/images/invalid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .valid-pass {
        background: url(Content/images/valid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }
    .warning{
        margin-right:6rem;
        text-align:end;
    }
    #pswd_info {
        display: none;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .note {
        font-weight: bold;
        padding-left: 10px;
    }
</style>

<hr />

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
            <div style="border: 1px solid #343a40" class="border">
            <div class="panel-heading">
                <h5>Change Password</h5>
            </div>
            <div class="panel-body" style="border: 1px solid #343a40; padding-left: 2%; padding-right: 1%; padding-top: 1%; padding-bottom: 1%;">
                    <div class="form-group label-text-border">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                @*@if (ViewBag.Issuccesflag == true)
                                {
                                    <span class="text-success">@ViewBag.Message</span>
                                }
                                else
                                {
                                    <span class="text-danger">@ViewBag.Message</span>
                                }*@
                            </div>
                        </div>
                    </div>
                    
                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div style="text-align:end" class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label><span class="text-danger">Note: All * Marked Fields Are Mandatory</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group label-text-border">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label asp-for="OldPassword" class="control-label label-padding">Enter Old Password<span style="color: red; width: 10%;">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" asp-for="OldPassword" class="form-control text-box " placeholder="Old Password" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group label-text-border">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label asp-for="NewPassword" class="control-label label-padding">Enter New Password<span style="color: red; width: 10%;">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" asp-for="NewPassword" class="form-control text-box" placeholder="New Password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group label-text-border">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <label asp-for="ConfirmPassword" class="control-label label-padding">Confirm New Password<span style="color: red; width: 10%;">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control text-box" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group" style="display:flex; justify-content:center">
                            <div class="row" style="justify-content:center">
                                <div class="">
                                    <input type="submit" value="Update Password" style="background-color: #343a40; color:white;" class="btn" />
                                </div>
                                <div style="display:inline-flex; margin-left:2rem;" class="">
                                    <a class="btn btn-danger" asp-controller="Home" asp-action="dashboard">Cancel</a>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group label-text-border">
            <div class="d-flex flex-row justify-content-center flex-container ">
                <label asp-for="OldPassword" class="control-label ml-3 label-padding">Enter Old Password<span style="color: red; width: 10%;">*</span></label>
                <div>
                    <input asp-for="OldPassword" class="form-control m-1 text-box " placeholder="Old Password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
        </div>*@
                        @*<div class="form-group label-text-border negative-margin">
            <div class="d-flex flex-row justify-content-center flex-container">
                <label asp-for="NewPassword" class="control-label label-padding ml-2">Enter New Password<span style="color: red; width: 10%;">*</span></label>
                <div>
                    <input asp-for="NewPassword" class="form-control m-1 text-box ml-4" placeholder="New Password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group label-text-border negative-margin">
            <div class="d-flex flex-row justify-content-center flex-container">
                <label asp-for="ConfirmPassword" class="control-label label-padding ml-1">Enter Confirm Password<span style="color: red; width: 10%;">*</span></label>
                <div>
                    <input asp-for="ConfirmPassword" class="form-control m-1 text-box ml-2" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>*@
                        @*<div class="form-group d-flex justify-content-center">
            <input type="submit" value="Update Password" class="btn btn-primary btn-sm" Onclick="changePassword()" />
        </div>*@
                    </form>
                </div>

                

                @*<div class="form-group label-text-border">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div id="pswd_info">
                                <h4>Password must meet the following requirements:</h4>
                                <ul>
                                    <li id="letter" class="invalid">At least <strong>one alphabet</strong></li>
                                    <li id="capital" class="invalid">At least <strong>one capital alphabet</strong></li>
                                    <li id="number" class="invalid">At least <strong>one number</strong></li>
                                    <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var result = true;

    $("#NewPassword").keyup(function () {
        var pswd = $(this).val();
        //validate the length
        if (pswd.length < 8) {
            $('#length').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;

        } else {
            $('#length').removeClass('invalid').addClass('valid-pass');
            val++;
            result = true;
        }

        //validate letter
        if (pswd.match(/[A-z]/)) {
            $('#letter').removeClass('invalid').addClass('valid-pass');
            val++;
            result = true;
        } else {
            $('#letter').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;
        }

        //validate capital letter
        if (pswd.match(/[A-Z]/)) {
            $('#capital').removeClass('invalid').addClass('valid-pass');
            val++;
            result = true;
        } else {
            $('#capital').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;
        }

        //validate number
        if (pswd.match(/\d/)) {
            $('#number').removeClass('invalid').addClass('valid-pass');
            result = true;
            val++;

        } else {
            $('#number').removeClass('valid-pass').addClass('invalid');
            val = 0;
            result = false;

        }

        //if (val >= 4) {
        //    $("#btnSubmit").removeAttr("disabled");
        //}
        //else {
        //    $("#btnSubmit").attr("disabled", "disabled");
        //}
    }).focus(function () {
        $('#pswd_info').show();
    }).blur(function () {
        $('#pswd_info').hide();
    });

        if ('@ViewBag.Issuccesflag' == 'True') {
            toastr.success('@ViewBag.Message', "Success");
        }
        else if ('@ViewBag.Issuccesflag' == 'False') {
            toastr.error('@ViewBag.Message', "Error");

        }


</script>
