@*@model LoanProcessManagement.Application.Features.UnlockUserAccountAdmin.Commands.UnlockUserAccount.UnlockUserAccountCommand*@


@model LoanProcessManagement.App.Models.UnlockedAndLockedUsersVm


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Unlock User Account";

}
<style type="text/css">
    #pswd_info {
        position: relative;
        left: 20px;
        right: 40px;
        width: 70%;
        padding: 15px;
        background: #fefefe;
        font-family: Arial;
        font-size: 15px;
        color: #444;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    }
    .heading {
    font-size:20px;
    font-weight:bold;
    
    }
        #pswd_info h4 {
            margin: 0 0 10px 0;
            padding: 0;
            font-weight: normal;
        }

        #pswd_info::before {
            content: "\25B2";
            position: relative;
            top: -19px;
            left: 45%;
            font-size: 16px;
            line-height: 14px;
            color: #ddd;
            text-shadow: none;
            display: block;
        }

    input[type=submit], #cancelbutton {
        margin-left: 5px;
    }

    .invalid {
        background: url(Content/images/invalid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    .valid-pass {
        background: url(Content/images/valid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

    #pswd_info {
        display: none;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #btnSignIn {
        margin-left: 5px;
        color: white;
        background-color: #343a40;
    }
    .btnSignIn {
        margin-left: 5px;
        color: white;
        background-color: #343a40;
    }
    .note {
        font-weight: bold;
    }

    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
</style>


<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
            <div class="panel-heading">
                <h5>Unlock Account</h5>
            </div>
            <div style="border: 1px solid #343a40;padding-right:5px;padding-bottom:5px;" class="border">
                <div class="panel-body">
                    <br/>
                    <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                    <div class="border-part">

                        @if (ViewBag.Issuccesflag == true)
                        {
                            @*<span class="text-success">@ViewBag.Message</span>*@
                            <div class="alert alert-success" role="alert">
                                @ViewBag.Message
                            </div>

                        }
                        else if(ViewBag.Issuccesflag==false)
                        {
                            @*<span class="text-danger">@ViewBag.Message</span>*@
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Message
                            </div>
                        }

                        <form asp-action="UnlockUserAccount" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*<div class="form-group label-text-border">
                <div class="d-flex flex-row justify-content-center flex-container ">
                    <label asp-for="unlockUserAccountCommand.EmployeeId" class="control-label ml-3 label-padding">Employee Id<span style="color: red; width: 10%;">*</span></label>
                    <div>
                        <input asp-for="unlockUserAccountCommand.EmployeeId" class="form-control m-1 text-box " placeholder="Employee Id" />
                        <span asp-validation-for="unlockUserAccountCommand.EmployeeId" class="text-danger"></span>
                    </div>
                </div>
            </div>*@

                            <div class="form-group row">
                                <label asp-for="unlockUserAccountCommand.EmployeeId" class="col-sm-2 col-form-label pl-4">Employee ID<span style="color: Red">&nbsp;*</span></label>
                                <div class="col-sm-10">
                                    <input asp-for="unlockUserAccountCommand.EmployeeId" class="form-control mr-4" type="text" placeholder="Enter Employee Id" autofocus />
                                    <span asp-validation-for="unlockUserAccountCommand.EmployeeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group d-flex flex-row justify-content-center">
                                <input type="submit" id="btnSignIn" value="Unlock Account" class="btn btn-sm" asp-action="UnlockUserAccount" />
                                <input type="submit" id="btnSignIn" value="Unlock and Reset password" class="btn btn-sm" asp-action="UnlockAndResetPassword" />
                                <input type="submit" id="btnSignIn" value="Activate User Account" class="btn btn-sm" asp-action="ActivateUserAccount" />
                                <a id="cancelbutton" class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Index">Cancel</a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            </div>
        </div>
</div>
<hr>
@*<div class="row">
    <div class="col-sm-5 align-self-sm-center">
      <select class="form-control" id="sections" name="sections" onchange="categoriesCriteres()">
          <option value="choisir" selected >Select</option>
          <option id="LockedUsers" value="LockedUsers">Locked Users</option>
          <option id="DeActivatedUsers" value="DeActivatedUsers">DeActivated Users</option>    
      </select>
    </div>
</div>*@

<div id="TableLockedUsers" @*style="display:none"*@>
    <div class="container app" >
        <div class="col-sm-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
                <div class="panel-heading">Locked Users</div>
                <div class="panel-body">
                </div>
                <div style="border: 1px solid #343a40;padding-right:5px;padding-bottom:5px;" class="border">
                    <div id="alertMsg" visible="false" runat="server">
                        <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                        <div style="margin-bottom: 10px"></div>
                    </div>

                    <table id="tbllockedUser" class="display">
                        <thead>
                            <tr>
                                <th>
                                    Employee Id
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.getAllUsersQueryVm.IsLocked)*@
                                    Is Locked
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.getAllUsersQueryVm)
                            {
                                if (item.IsLocked)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsLocked)
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>
<hr>
<div id="TableDeActivatedUsers" @*style="display:none"*@>
    <div class="container app" >
        <div class="col-sm-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
                <div class="panel-heading">DeActivated Users</div>
                <div class="panel-body">
                </div>
                <div style="border: 1px solid #343a40;padding-right:5px;padding-bottom:5px;" class="border">
                    <div id="alertMsg" visible="false" runat="server">
                        <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                        <div style="margin-bottom: 10px"></div>
                    </div>

                    <table id="tblDeActivatedUser" class="display">
                        <thead>
                            <tr>
                                <th>
                                    Employee Id
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    DeActivated
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.getAllUsersQueryVm)
                            {
                                if (!item.IsActive)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>

<div class="container app" style="display:none">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading text-center w-25">UnLocked Users</div>
            <div class="panel-body">
            </div>
            <div id="alertMsg" visible="false" runat="server">
                <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                <div style="margin-bottom: 10px"></div>
            </div>

            <table id="" class="display">
                <thead>
                    <tr>
                        <th>
                            Employee Id
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.getAllUsersQueryVm.Email)*@
                            Email
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.getAllUsersQueryVm.IsLocked)*@
                            Is Locked
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.getAllUsersQueryVm)
                    {
                        if (item.IsLocked == false)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsLocked)
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        var usrTable = $('#tbllockedUser').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 15,
            "aLengthMenu": [[25, 50, 100, 200, 500], [25, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true
        });
    });
    $(document).ready(function () {

        var usrTable = $('#tblDeActivatedUser').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 15,
            "aLengthMenu": [[25, 50, 100, 200, 500], [25, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true
        });
    });

    $(document).ready(function () {                                                   //TableDeActivatedUsers   TableLockedUsers
        $('#sections').on('change', function () {
            if (this.value == 'LockedUsers')
            {
                $("#TableLockedUsers").show();
                $("#TableDeActivatedUsers").hide();
            }
        });
    });
    $(document).ready(function () {
        $('#sections').on('change', function () {
            if (this.value == 'DeActivatedUsers')
            {
                $("#TableDeActivatedUsers").show();
                $("#TableLockedUsers").hide();
            }
        });
    });
</script>

