@model IEnumerable<LoanProcessManagement.Application.Features.Menu.Query.GetAllMenus.GetAllMenusQueryVm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menulist";
}
<style>
    #act1 {
        color: white;
    }

        #act1:hover {
            color: white;
        }
</style>
<div class="container app pb-3">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">

            <div class="panel-heading"><h5>Menu List</h5></div>
            <div class="panel-body">
                <div class="card" style="padding:5px;">
                    <div id="alertMsg" visible="false" runat="server">
                        <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                        <div style="margin-bottom: 10px"></div>
                    </div>
                    <div style="float:right">
                        <button id="btn1" class="btn-default-submit float-left ml-1">
                            <a id="act1" asp-action="CreateMenu">Create Menu</a>
                        </button>
                    </div>
                    <hr />
                    <table id="tblMenuList" class="display table table-responsive-xl">
                        <thead>
                            <tr>
                                <th class="col-lg-3 col-sm-12">
                                    @Html.DisplayNameFor(model => model.MenuName)
                                </th>
                                <th class="col-lg-5 col-sm-12">
                                    @Html.DisplayNameFor(model => model.Link)
                                </th>
                                <th class="col-lg-2 col-sm-12">
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th class="col-lg-2 col-sm-12">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Link)
                                    </td>
                                    <td>
                                        @{
                                            if (item.IsActive == true)
                                            {
                                                <p style="color:darkgreen">Active</p>
                                            }
                                            else
                                            {
                                                <p style="color:red">Deactive</p>
                                            }
                                        }

                                    </td>
                                    <td>
                                        @Html.ActionLink("Modify", "UpdateMenu", new { id = item.Id }, new { @Class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Remove", "DeleteMenu", "Home", new { id = item.Id },
                                       new { onclick = "return confirm('Are you sure you want to delete ?');", @Class = "btn btn-danger btn-sm" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>