@model LoanProcessManagement.App.Models.LeadITRDetailsVm
    <link href="~/css/Common Css/Common1.css" rel="stylesheet" />

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<style>  
    .AppTabs:hover {
        background: #adb5bd;
        color: black;
    }

    .btnDiv ul li {
        list-style: none;
    }

        .btnDiv ul li a {
            text-decoration: none;
            color: #343A40;
            border: 1px solid lightgray;
        }

        .btnDiv ul li.active a {
            color: #ffffff;
            background: #343A40;
        }

    .rounded-nav {
        border-radius: 50rem !important;
    }

        .rounded-nav .nav-link {
            border-radius: 50rem !important;
        }

    .text-uppercase {
        letter-spacing: 0.1em;
    }
</style>

    <div class="container pb-5">
        <div class="container app">
            <div class="col-sm-12 col-lg-12">
                <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
                    <div class="panel-heading">
                        <h5>Add ITR Enquiry</h5>
                    </div>
                    <div class="formDiv">
                        <form method="post" action="/LeadITRDetails/index">

                            <input type="hidden" asp-for="lead_Id" id="hdnLeadId">
                            <input type="hidden" asp-for="ApplicantType" id="hdnApplicantType">
                            <input type="hidden" asp-for="CreatedBy" value=@User.FindFirst("lg_id").Value />
                            <input type="hidden" asp-for="LastModifiedBy" value=@User.FindFirst("lg_id").Value />
                            <div style="height: 15px;"></div>

                            <div class="btnDiv mt-4 ml-4">
                                <ul class="row text-center rounded-nav pl-5">
                                    <li><a href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=0" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" id="lnkCoApp_0" style="background-color: #343A40;color:white;">&nbsp;&nbsp;&nbsp;Applicant&nbsp;&nbsp;&nbsp;</a></li>
                                    <li><a id="lnkCoApp_1" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=1" style="background-color: white; color: #343A40;">Co-Applicant-1</a></li>
                                    <li><a id="lnkCoApp_2" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=2" style="background-color: white; color: #343A40;">Co-Applicant-2</a></li>
                                    <li><a id="lnkCoApp_3" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=3" style="background-color: white; color: #343A40;">Co-Applicant-3</a></li>
                                    <li><a id="lnkCoApp_4" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=4" style="background-color: white; color: #343A40;">Co-Applicant-4</a></li>
                                    <li><a id="lnkCoApp_5" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=5" style="background-color: white; color: #343A40;">Co-Applicant-5</a></li>
                                </ul>
                            </div>

                            <span id="ContentPlaceHolder1_spanMessage" style="color: red;"></span>

                            <div class="frames">
                                <div class="panel-body">
                                    <div id="ContentPlaceHolder1_alertMsg">
                                        <div class="row tab pt-3 pr-1">
                                            <div class="col-md-12 text-center">
                                                <label class="h4">Form No.</label>



                                                <span id="ContentPlaceHolder1_lblFormNo" class="h4" style="color: black; border:none">
                                                    <label>@Model.FormNo</label>
                                                    <input type="hidden" asp-for="FormNo" />

                                                </span>

                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <div>
                                        <h4><u><b>Customer Details</b></u></h4>
                                    </div>

                                    <div class="form-group pl-2">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">Customer Name</label><br />
                                                <p>@Model.CustomerName</p>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">Customer Email</label><br />
                                                <p>@Model.CustomerEmail</p>
                                            </div>
                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">Customer Mobile</label><br />
                                                <p>@Model.CustomerPhone</p>
                                                <span asp-validation-for="CustomerPhone" style="color:Red;display:block;"></span>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="form-group pl-2">
                                        <div class="row">

                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">Employee Type</label><br />
                                                <label style="font-weight:normal;" for="selfEmployee">Self-Employee</label>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">Consent</label><br />
                                                <label style="font-weight:normal;" for="ConsentValue"> Yes </label><br>
                                            </div>

                                        </div>
                                    </div>


                                    <div id="IdentificationDv">
                                        <hr />
                                        <div id="divIdentification">
                                            <h4><u><b>ITR Details</b></u></h4>

                                        </div>

                                        <div class="form-group pl-2">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-12">
                                                    <label class="">PAN</label><br />
                                                    <p>@Model.PanCardNo</p>
                                                </div>

                                                <div class="col-lg-4 col-sm-12">
                                                    <label class="">User Name</label><br />
                                                    <p>@Model.UserName</p>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-lg-4 col-sm-12">
                                            <div class="row">
                                                <label class="" id="PasswordBoxLabel">Password</label>
                                                <span style="color: Red" id="FieldMark">&nbsp;*</span>
                                                <input asp-for="Password" type="password" maxlength="20" id="PasswordBoxNode" class="form-control">
                                                <span asp-validation-for="Password" style="color:Red;display:block;"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="accountDv">

                                        <br />
                                        <div class="row tab">
                                            <div class="col-md-12 mb-3">
                                                <center>

                                                    <input type="submit" name="ctl00$ContentPlaceHolder1$btnAddEnquiry" value="Submit" id="SubmitButton" class="btn" style="background-color: #343a40; color:white;">&nbsp
                                                    @{ var leadId = "Lead_" + Model.lead_Id;}

                                                    <a id="cancelbutton" class="btn btn-danger" href="/LeadList/LeadSummary/@leadId">Cancel</a>

                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        if ('@TempData["leadItrIsSuccess"]' == 'True') {
            toastr.success('@TempData["leadItrMessage"]', "Success");

        }
        else if ('@TempData["leadItrIsSuccess"]' == 'False') {
            toastr.error('@TempData["leadItrMessage"]', "Error");

        }

    });



    $(document).ready(function () {
        var applicant0 = document.getElementById("lnkCoApp_0");
        var applicant1 = document.getElementById("lnkCoApp_1");
        var applicant2 = document.getElementById("lnkCoApp_2");
        var applicant3 = document.getElementById("lnkCoApp_3");
        var applicant4 = document.getElementById("lnkCoApp_4");
        var applicant5 = document.getElementById("lnkCoApp_5");

         if (@Model.ApplicantType == 1) {
             applicant1.style.backgroundColor = "#343A40";
             applicant1.style.color = "white";
             applicant0.style.backgroundColor = "white";
             applicant0.style.color = "#343A40";
        }
        else if (@Model.ApplicantType == 2) {
             applicant2.style.backgroundColor = "#343A40";
             applicant2.style.color = "white";
             applicant0.style.backgroundColor = "white";
             applicant0.style.color = "#343A40";
         }
         else if (@Model.ApplicantType == 3) {
             applicant3.style.backgroundColor = "#343A40";
             applicant3.style.color = "white";
             applicant0.style.backgroundColor = "white";
             applicant0.style.color = "#343A40";
         }
         else if (@Model.ApplicantType == 4) {
             applicant4.style.backgroundColor = "#343A40";
             applicant4.style.color = "white";
             applicant0.style.backgroundColor = "white";
             applicant0.style.color = "#343A40";
         }
         else if (@Model.ApplicantType == 5) {
             applicant5.style.backgroundColor = "#343A40";
             applicant5.style.color = "white";
             applicant0.style.backgroundColor = "white";
             applicant0.style.color = "#343A40";
        }

    });

    $(document).ready(function () {
        var button = document.getElementById("SubmitButton");
        var passwordBox = document.getElementById("PasswordBoxNode");
        var passwordLabel = document.getElementById("PasswordBoxLabel");
        //debugger;
        if (@Model.IsSuccess.ToString().ToLower() == true) {
            $("#SubmitButton").attr("disabled", "disabled");
            $("#PasswordBoxNode").hide();
            $("#PasswordBoxLabel").hide();
            $("#FieldMark").hide();
        }
    });

    $(document).ready(function () {
        //debugger;
        if (@Model.Succeeded.ToString().ToLower() == false) {
            $("#SubmitButton").attr("disabled", "disabled");
            $("#selfEmployeeNode").hide();
            $("#consentNode").hide();
        }

        //debugger
        $(function () {
            var jsArray = @Html.Raw(Json.Serialize(Model.AppTypeList));
            for (var i = 0; i < jsArray.length; i++) {
                var id = "#lnkCoApp_" + jsArray[i];
                $(id).css('pointer-events', 'auto');
            }
        });
    });
</script>