@model LoanProcessManagement.App.Models.LeadITRDetailsVm
<link href="~/css/Common Css/Common1.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewData["Title"] = "ITR Details Details";
}

<div class="container pb-5">
    <div class="container app">
        <div class="col-sm-12 col-lg-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
                <div class="panel-heading">
                    <h5>Add ITR Enquiry</h5>
                </div>
                <div class="formDiv">
                    <form method="post" action="/applicantdetails/index">

                        <input type="hidden" asp-for="lead_Id" id="hdnLeadId">
                        <input type="hidden" asp-for="ApplicantType" id="hdnApplicantType">
                        <input type="hidden" asp-for="CreatedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="LastModifiedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="AppTypeList" />
                        <div style="height: 15px;"></div>

                        <div class="btnDiv mt-4 ml-4">
                            <ul class="row text-center rounded-nav pl-5">
                                <li><a href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=0" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" id="lnkCoApp_0" style="background-color: #343A40;color:white;">&nbsp;&nbsp;&nbsp;Applicant&nbsp;&nbsp;&nbsp;</a></li>
                                <li><a id="lnkCoApp_1" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=1" style="background-color: white; color: #343A40;">Co-Applicant-1</a></li>
                                <li><a id="lnkCoApp_2" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=2" style="background-color: white; color: #343A40;">Co-Applicant-2</a></li>
                                <li><a id="lnkCoApp_3" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=3" style="background-color: white; color: #343A40;">Co-Applicant-3</a></li>
                                <li><a id="lnkCoApp_4" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=4" style="background-color: white; color: #343A40;">Co-Applicant-4</a></li>
                                <li><a id="lnkCoApp_5" class="nav-link border-1 text-uppercase font-weight-bold AppTabs btn-sm" href="/LeadITRDetails/Index?lead_Id=@Model.lead_Id&applicantType=5" style="background-color: white; color: #343A40;">Co-Applicant-5</a></li>
                            </ul>
                        </div>

                        <span id="ContentPlaceHolder1_spanMessage" style="color: red;"></span>

                        <div class="frames">
                            <div class="panel-body">

                                <div id="ContentPlaceHolder1_alertMsg">
                                    <div class="row tab pt-3 pr-1">
                                        <div class="col-md-12 text-center">
                                            <label class="h4">Form No.</label>



                                            <span id="ContentPlaceHolder1_lblFormNo" class="h4" style="color: black; border:none">
                                                <label>@Model.FormNo</label>
                                                <input type="hidden" asp-for="FormNo" />

                                            </span>

                                        </div>
                                    </div>
                                </div>
                                <div style="display:flex;">
                                    <div class="col-md-4">

                                    </div>

                                </div>
                                <div style="height: 5px;"></div>
                                <hr />
                                <div>
                                    <h4><u><b>Customer Details</b></u></h4>
                                </div>
                                <div class="form-group pl-2">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Customer Name</label>
                                            <p>@Model.CustomerName</p>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Customer Email</label>
                                            <p>@Model.CustomerEmail</p>
                                        </div>

                                        <div class="col-lg-4 col-sm-12">
                                            <label class="">Customer Mobile</label>
                                            <p>@Model.CustomerPhone</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group pl-2">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12" id="EmployeeTypeNo">
                                            <label class="">Employee Type</label><br />
                                            <label style="font-weight:normal;" for="selfEmployee">Self-Employee</label>
                                        </div>

                                        <div class="col-lg-4 col-sm-12" id="CheckBoxNo">
                                            <label class="">Consent</label><br />
                                            <label style="font-weight:normal;" for="ConsentValue"> Yes </label><br>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div style="height: 5px;"></div>
                                <div id="IdentificationDv">
                                    <div style="height: 5px;"></div>
                                    <div id="divIdentification">
                                        <h4><u><b>ITR Details</b></u></h4>

                                    </div>

                                    <div class="form-group pl-2">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">PAN</label><br />
                                                <label>@Model.PanCardNo</label>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <label class="">User Name</label>
                                                <label>@Model.UserName</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var applicant0 = document.getElementById("lnkCoApp_0");
        var applicant1 = document.getElementById("lnkCoApp_1");
        var applicant2 = document.getElementById("lnkCoApp_2");
        var applicant3 = document.getElementById("lnkCoApp_3");
        var applicant4 = document.getElementById("lnkCoApp_4");
        var applicant5 = document.getElementById("lnkCoApp_5");

         if (@Model.ApplicantType == 1) {
             applicant1.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }
        else if (@Model.ApplicantType == 2) {
             applicant2.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
         }
         else if (@Model.ApplicantType == 3) {
             applicant3.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
         }
         else if (@Model.ApplicantType == 4) {
             applicant4.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
         }
         else if (@Model.ApplicantType == 5) {
             applicant5.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }

        //debugger
        $(function () {
            var jsArray = @Html.Raw(Json.Serialize(Model.AppTypeList));
            for (var i = 0; i < jsArray.length; i++) {
                var id = "#lnkCoApp_" + jsArray[i];
                $(id).css('pointer-events', 'auto');
            }
        });
    });
</script>
