
@model IEnumerable<LoanProcessManagement.Application.Features.GSTLeadList.Queries.GetGSTLeadListQueryVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Lead Listing";
}

<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
</style>

<div class="container app pb-5">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>Lead List</h5></div>
            <div class="panel-body">
            <div class=" card" style="padding:5px;">
                <div id="alertMsg" visible="false" runat="server">
                    <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                    <div style="margin-bottom: 10px"></div>
                </div>
                <table id="GSTLeadListing" class="table table-responsive-lg">
                    <thead>
                        <tr>
                            <th>
                                Form No.
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                DSA Name
                            </th>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Loan Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FormNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DSAName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    ₹  @Html.DisplayFor(modelItem => item.Amount)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            var usrTable = $('#GSTLeadListing').dataTable({
                "oLanguage": {
                    "sZeroRecords": "No records to display",
                    "sSearch": "Search "
                },
                "iDisplayLength": 15,
                "aLengthMenu": [[25, 50, 100, 200, 500], [25, 50, 100, 200, 500]],
                "bSortClasses": false,
                "bPaginate": true,
                "bAutoWidth": false,
                "bProcessing": true,
                "bDestroy": true
		    });
        });
</script>




