@model IEnumerable<LoanProcessManagement.Application.Features.Product.Queries.GetAllProducts.GetAllProductsQueryDto>
<script src="~/js/Master.js"></script>
<script src="~/js/jquery/jquery.dataTables.js"></script>

<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
    table {
        white-space: nowrap;
        overflow-x: auto;
    }

        table thead th {
            white-space: nowrap;
        }
</style>

<div class="container app">
    <h5 class="ml-2 mt-3"><u><b>Product List</b></u></h5>
    <div id="div" class="col-lg-6 pt-4 pb-4">

        <button class="btn-default-submit float-left ml-1" id="act1">Add Product</button>
    </div>
    <hr />
    <table id="tblUserList" class="display table table-responsive-lg">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Product Type
                </th>
                <th>
                    Product Description
                </th>
                <th>
                    isActive
                </th>
                <th hidden>
                    modified On
                </th>

                <th hidden>
                    Created date
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>

                    <td> @Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td> @Html.DisplayFor(modelItem => item.ProductType)</td>
                    <td> @Html.DisplayFor(modelItem => item.ProducDescription)</td>
                    <td> @Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td hidden> @Html.DisplayFor(modelItem => item.IsActive)</td>
                    <td hidden> @Html.DisplayFor(modelItem => item.IsActive)</td>

                    <td>
                        <button class="btn btn-primary btn-sm" onclick="loadPage(@Html.DisplayFor(modelItem => item.Id))" id="updateBtn">Update</button>
                        <button class="btn btn-danger btn-sm" onclick="loadDelete(@Html.DisplayFor(modelItem => item.Id))" id="deleteBtn">Delete</button>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $(".display").dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "scrollX": true,
            "scrollCollapse": true,
            "columnDefs": [
                { "width": "150px", "targets": [0, 1] },

            ],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true

        });
    });

    function loadPage(id) {

        $("#div_dynamicTables").load("/Master/UpdateProduct/" + id);
    }
    $('#act1').click(function () {
        $("#div_dynamicTables").load("/Master/AddProduct");
    });

    function loadDelete(id) {
        $.ajax({
            type: "GET",
            url: "/Master/DeleteProduct/" + id,
            beforeSend: function () {
                return confirm("Are you sure you want to delete?");
            },
            success: function (result) {
                if (result.data.succeeded) {
                    toastr.success(result.data.message)
                }

                $("#div_dynamicTables").load("/Master/Getallproducts");
            }
        });
        e.preventDefault();
    };
</script>



