@model IEnumerable<LoanProcessManagement.Application.Features.ReportsLeadList.Queries.GetReportsLeadListQueryVm>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reports Lead Listing";
}
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>My Queue</h5></div>
            <div class="panel-body ">
                <div class="card" style="padding:5px;">
                    <div id="alertMsg" visible="false" runat="server">
                        <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                        <div style="margin-bottom: 10px"></div>
                    </div>
                    <table id="ReportsLeadListing" class="display table-responsive-lg">
                        <thead>
                            <tr>

                                <th>
                                    @*@Html.DisplayNameFor(model => model.FormNo)*@
                                    Form No.

                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.CustomerName)*@
                                    Name
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.DSAName)*@
                                    Contact Number
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.ProductName)*@
                                    First Meeting
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Amount)*@
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstMeeting)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



