@model IEnumerable<LoanProcessManagement.App.Models.QueryHistoryCommandVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Query History";
}
<style>
    .cls-scroll-table {
        max-width: 95%;
        overflow-x: scroll;
    }
</style>
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h5>Query History</h5></div>
            <div class="panel-body ">
                <div class="card" style="padding:15px;">
                    <table class="display table-responsive-lg" id="tblQueryHistory" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SerialNumber)
                                </th>
                                <th style="display : none">
                                    @Html.DisplayNameFor(model => model.lead_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FormNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Query_Status)
                                </th>
                                <th>
                                    Query 1
                                </th>
                                <th>
                                    Query 2
                                </th>
                                <th>
                                    Query 3
                                </th>
                                <th>
                                    Query 4
                                </th>
                                <th>
                                    Query 5
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td style="display : none">
                                        @Html.DisplayFor(modelItem => item.lead_Id)
                                    </td>
                                    <td>
                                        @{
                                            var CreatedDate = item.CreatedDate.ToShortDateString();
                                        }
                                        @Html.DisplayFor(modelItem => CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FormNo)
                                    </td>
                                    <td>
                                        @{
                                            var status = item.Query_Status == 'R' ? "Query Resolved" : "Query Raised";

                                        }
                                        @Html.DisplayFor(modelItem => status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPSQueryType1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPSQueryType2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPSQueryType3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPSQueryType4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPSQueryType5)
                                    </td>                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/_Tabs.cshtml", (string)@ViewBag.lead_Id)
    </div>
</div>
<script>
    $(document).ready(function () {

        var usrTable = $('#tblQueryHistory').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 15,
            "aLengthMenu": [[25, 50, 100, 200, 500], [25, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            },
        });
    });
</script>
