@model IEnumerable<LoanProcessManagement.Application.Features.UserList.Query.GetUserListQueryVm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["Title"] = "Index";
}
<style>


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        vertical-align: middle;
        margin-block: 6px !important;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 0px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        /*transform: translateX(26px);*/
        transform: translateX(23px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 15px;
        width: 40px;
        height: 18px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    /*
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 0px 1px;
    }*/
</style>
<div class="container app ">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s">
            <div class="panel-heading"><h5>User List</h5></div>
            <div class="panel-body">
                @*@if (ViewBag.Issuccesflag)
        {
            <div class="alert alert-success" role="alert">
                <p>@ViewBag.Message</p>
            </div>
        }
        else if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error! @ViewBag.Message</strong>
            </div>

        }*@
                <div id="alertMsg" visible="false" runat="server">
                    <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                </div>
                <div class="card" style="padding:15px;">
                    <div>
                        <div class="row mt-3">
                            <div class="col-lg-1">
                                <label>Filter  :</label>
                            </div>
                            <div class="col-lg-3">
                                <select id="ddl_Filter" class="form-control">
                                    <option value="All">All</option>
                                    <option value="Locked">Locked Users</option>
                                    <option value="Deactivated">Deactivated Users</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @*<div class="row d-flex flex-wrap">
            <div class="col-lg-10  d-flex flex-wrap">*@
                    <table id="tblUserList" class="display table table-responsive-lg">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SerialNumber)
                                </th>
                                <th style="display : none">
                                    @Html.DisplayNameFor(model => model.LgId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th class="w-1">
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BranchName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsLocked)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th style="display : none">
                                    @Html.DisplayNameFor(model => model.StaffType)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td style="display : none">
                                        @Html.DisplayFor(modelItem => item.LgId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td style="word-break:break-all;">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>

                                        @{
                                            if (item.IsLocked == true)
                                            {
                                                <label class="switch">
                                                    <input type="checkbox" id="chkQuery" checked onchange="checkUncheckUnlockUser(this, '@item.EmployeeId')">
                                                    <span class="slider round" data-on="Yes" data-off="No"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="switch">
                                                    <input type="checkbox" id="chkQuery" onchange="checkUncheckUnlockUser(this, '@item.EmployeeId')">
                                                    <span class="slider round" data-on="Yes" data-off="No"></span>
                                                </label>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @{
                                            if (item.IsActive == true)
                                            {
                                                <label class="switch">
                                                    <input type="checkbox" id="chkQuery" checked onchange="checkUncheckActiveUser(this, '@item.EmployeeId')">
                                                    <span class="slider round" data-on="Yes" data-off="No"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="switch">
                                                    <input type="checkbox" id="chkQuery" onchange="checkUncheckActiveUser(this, '@item.EmployeeId')">
                                                    <span class="slider round" data-on="Yes" data-off="No"></span>
                                                </label>
                                            }
                                        }
                                    </td>
                                    <td style="display : none">
                                        @Html.DisplayFor(modelItem => item.StaffType)
                                    </td>
                                    <td class="text-nowrap">
                                        @Html.ActionLink("Modify", "UpdateUser", "Login", new { lgid = item.LgId }, new { @Class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Delete", "RemoveUser", "Login", new { lgid = item.LgId },
                                       new { onclick = "return confirm('Are you sure you want to delete ?');", @Class = "btn btn-danger btn-sm" })
                                        @*<a asp-action="RemoveUser" id="deleteBtn" asp-route-lgid="item.LgId">Delete</a>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @*</div>
            </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var usrTable = $('#tblUserList').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 50, 100, 200, 500], [10, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            },
        });
    });

    function checkUncheckUnlockUser(r, empId) {
        //debugger
        var checkStatus = $(r).prop("checked") ? 'True' : 'False';
        $.ajax({
            type: "POST",
            url: '@Url.Action("UnlockUserAccountOnToggleSwitch", "Login")',
            data: {
                EmployeeId: empId,
                IsLocked: checkStatus
            },
            dataType: 'json',
            success: function (result) {
                //debugger;
                if (result && result.succeeded) {
                    toastr.success(result.data.message, "Success");
                    //location.href = result.data.message;
                } else {
                    toastr.success(result.data.message, "Error");
                    //location.href = result.data.message;
                    //location.href = '/UserList/Index';
                }
            },
            error: function (ex) {
                console.log('something went wrong - debug it!', ex);
            }
        })
    }

    function checkUncheckActiveUser(r, empId) {
        //debugger
        var checkStatus = $(r).prop("checked") ? 'True' : 'False';
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActivateUserAccountOnToggleSwitch", "Login")',
            data: {
                EmployeeId: empId,
                IsActive: checkStatus
            },
            dataType: 'json',
            success: function (result) {

                //debugger;
                if (result && result.succeeded) {
                    toastr.success(result.data.message, "Success");
                    //location.href = result.data.message;
                } else {
                    toastr.success(result.data.message, "Error");
                    //location.href = result.data.message;
                    //location.href = '/UserList/Index';
                }

            },
            error: function () {
                console.log('something went wrong - debug it!');
            }
        })
    }


    $("#ddl_Filter").change(function () {
        debugger;
        var selectedFilter = $("#ddl_Filter").val();
        sessionStorage.setItem("selectVal", selectedFilter);
        if (selectedFilter == 'Locked') {
            location.href = "/UserList/Index?flag=2";
        }
        else if (selectedFilter == 'Deactivated') {
            location.href = "/UserList/Index?flag=3";
        }
        else {
            location.href = '/UserList/Index';
        }

    });

    $(document).ready(function () {
        if (sessionStorage.selectVal) {
            $('#ddl_Filter').val(sessionStorage.selectVal);
        }
    });

        @*if ('@ViewBag.Issuccesflag' == 'True') {
            toastr.success('@ViewBag.Message', "Success");
        }
        else if (!string.IsNullOrEmpty('@ViewBag.Message')) {
            toastr.error('@ViewBag.Message', "Error");

        }*@

</script>