@model IEnumerable<LoanProcessManagement.Application.Features.UserList.Query.GetUserListQueryVm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
<style>
    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
</style>
<div class="container app">
    <div class="col-sm-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in" style="transition: all 0.7s ease-in-out 0s;">
            <div class="panel-heading"><h3>User List</h3></div>
            <div class="panel-body">
                <div class="card" style="padding:5px;">
                    <div id="alertMsg" visible="false" runat="server">
                        <asp:Label ID="lblAlert" runat="server" Style="color: red"></asp:Label>
                        <div style="margin-bottom: 10px"></div>
                    </div>

                    <table id="tblUserList" class="display">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LgId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BranchName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StaffType)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LgId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StaffType)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Modify", "UpdateUser", "Login", new { lgid = item.LgId })
                                        @Html.ActionLink("Delete", "RemoveUser", "Login", new { lgid = item.LgId },
                                       new { onclick = "return confirm('Are you sure you want to delete ?');" })
                                        @*<a asp-action="RemoveUser" id="deleteBtn" asp-route-lgid="item.LgId">Delete</a>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var usrTable = $('#tblUserList').dataTable({
            "oLanguage": {
                "sZeroRecords": "No Records to Display",
                "sSearch": "Search "
            },
            "iDisplayLength": 15,
            "aLengthMenu": [[25, 50, 100, 200, 500], [25, 50, 100, 200, 500]],
            "bSortClasses": false,
            "bPaginate": true,
            "bAutoWidth": false,
            "bProcessing": true,
            "bDestroy": true,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            },
        });

        //$("#chkQuery").click(function (e) {
        //    var isChecked = $(this).is(":checked");
        //    var UserRole = $("#userRole").val();
        //    if (isChecked) {
        //        if (UserRole == 2) {
        //            $("#lblSwitchName").css("display", "inline-block");
        //            $("#QueryStatusHidden").val('Q');

        //        } else {
        //            alert("only Ho can raise a query");
        //            $("#chkQuery").prop("checked", false);
        //        }
        //    }
        //    else {
        //        if (UserRole == 3) {
        //            $("#QueryStatusHidden").val('R');
        //            $("#lblSwitchName").css("display", "none");

        //        }
        //        else {
        //            alert("only Branch can resolve a query");
        //            $("#chkQuery").prop("checked", true);

        //        }
        //    }
        //})
        //$("#deleteBtn").click(function () {
        //    var response = confirm('Are you sure you want to delete ?');
        //    if (response) {

        //    }
        //});
    });
</script>