@model LoanProcessManagement.App.Models.CreateUserCommandVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add User";
}

<style>
    .row {
        margin-left: 5px;
        margin-right: 5px;
    }
    #btnSignIn {
        margin-left: 5px;
        color:white;
        background-color: #343a40;
    }
</style>

<div class="container app">
    <div class="col-sm-12 col-lg-12">
        <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
            <div class="panel-heading">
                <h5>Add User</h5>
            </div>
            <div style="border: 1px solid #343a40;padding-right:5px;padding-bottom:5px;" class="border">
                <div class="panel-body">
                    <br />
                    <div style="text-align:end" class="form-group"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                    <div class="border-part">
                        @*@if (ViewBag.isSuccess == true)
                        {
                            <div class="alert alert-success" role="alert">
                                @ViewBag.Message
                            </div>
                        }
                        else if (ViewBag.isSuccess == false)
                        {
                            <div class="alert alert-danger" role="alert">
                                <strong>Error!</strong> @ViewBag.Message
                            </div>
                        }*@

                    <form asp-action="Index" method="post">
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label asp-for="EmployeeId" class="col-sm-2 col-form-label">Username:<span style="color: Red">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <input asp-for="EmployeeId" class="form-control" type="text" placeholder="Username" autofocus />
                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label asp-for="UserRoleId" class="col-sm-2 col-form-label">User Role:<span style="color: Red">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <select asp-for="UserRoleId" class="form-control" asp-items="ViewBag.roles">
                                    <option value="">Select Role</option>
                                </select>
                                <span asp-validation-for="UserRoleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label asp-for="BranchId" class="col-sm-2 col-form-label">Branch Name:<span style="color: Red">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.branches">
                                    <option value="">Select Branch</option>
                                </select>
                                <span asp-validation-for="BranchId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name<span style="color: Red">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <input asp-for="Name" class="form-control" type="text" placeholder="Name" autofocus />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label asp-for="Email" class="col-sm-2 col-form-label">E-Mail<span style="color: Red">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <input asp-for="Email" class="form-control" type="email" placeholder="Email" autofocus />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Phone Number<span style="color: Red">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <input asp-for="PhoneNumber" class="form-control noTxtInput" placeholder="Phone number" autofocus maxlength="10"/>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-5">
                                <input type="submit" value="Create User" id="btnSignIn" Class="btn" />
                                <a id="cancelbutton" class="btn btn-danger" href="/UserList/Index">Cancel</a>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("form").submit(function () {
        if ($('form').valid()) {
            $("#btnSignIn").prop('disabled', true);
        }
    });

    $(function () {
        $(".noTxtInput").keypress(function (e) {
            var keyCode = e.which;
            /* 8 - (backspace), 32 - (space), 48-57 - (0-9) - Numbers */
            if ((keyCode != 8 || keyCode == 32) && (keyCode < 48 || keyCode > 57)) {
                return false;
            }
        });
    });
    $(document).ready(function () {
        if ('@ViewBag.isSuccess' == 'True') {
            toastr.success('@ViewBag.Message', "Success");
        }
        else if ('@ViewBag.isSuccess' == 'False') {
            toastr.error('@ViewBag.Message', "Error");

        }

    })

</script>