@model LoanProcessManagement.App.Models.CibilCheckDetailsVm

@*@model LoanProcessManagement.Application.Features.CibilCheck.Commands.AddCibilCheckDetails.AddCibilDetailsCommand*@

@{
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewData["Title"] = "Cibil Check Details";
}

<style>
    .tab {
        padding-left: 15px;
    }

    .AppTabs {
        display: inline-block;
        margin-right: 3px;
        padding: 5px 30px;
        background: #191970;
        color: #FFF;
    }

    .btn {
        width: inherit;
        justify-content: center;
    }

    .AppTabs:hover {
        background: #adb5bd;
        color: black;
    }

    .AppTabs:visited {
        text-decoration: none;
    }

    .selected {
        background: #0d7db5;
        color: #FFF;
    }

    .panel-heading {
        color: white;
        background-color: #343a40;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .btnDiv {
        text-align: center;
    }

    .card {
        /*background-color:slategray;*/
        background: linear-gradient(to bottom, rgba(251,251,251,10) 0%,rgba(242,242,242,10) 100%);
        font-family: sans-serif;
        font-size: 18px;
        border: 1px solid;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 1.25rem;
        margin-left: 1rem;
        padding-top: 5px;
        font-weight: 600;
    }

    .formDiv {
        border: 1px solid #343a40;
        padding-bottom: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
</style>
<div style="margin-top: 20px" class="container">
    <div class="container app">
        <div class="col-sm-12 col-lg-12">
            <div data-effect="helix" id="panels" class="panel panel-info effect-helix in">
                <div class="panel-heading">
                    <h3>Add Customer Enquiry</h3>
                </div>
                <div class="formDiv">
                    <form method="post" action="/CibilCheckDetails/index">
                        <input type="hidden" asp-for="lead_Id" id="hdnLeadId">
                        <input type="hidden" asp-for="ApplicantType" id="hdnApplicantType">
                        <input type="hidden" asp-for="CreatedBy" value=@User.FindFirst("lg_id").Value />
                        <input type="hidden" asp-for="LastModifiedBy" value=@User.FindFirst("lg_id").Value />
                        <div style="height: 15px;"></div>
                        <div class="btnDiv">
                            <a href="/CibilCheckDetails/Index?lead_Id=@Model.lead_Id&applicantType=0" class="AppTabs btn-sm selected" id="tabProcess0" style="background: #adb5bd;">Applicant</a>
                            <a id="ContentPlaceHolder1_lnkCoApp1" class="AppTabs btn-sm" href="/CibilCheckDetails/Index?lead_Id=@Model.lead_Id&applicantType=1" style="background: #343a40;">Co-Applicant-1</a>
                            <a id="ContentPlaceHolder1_lnkCoApp2" class="AppTabs btn-sm" href="/CibilCheckDetails/Index?lead_Id=@Model.lead_Id&applicantType=2" style="background: #343a40;">Co-Applicant-2</a>
                            <a id="ContentPlaceHolder1_lnkCoApp3" class="AppTabs btn-sm" href="/CibilCheckDetails/Index?lead_Id=@Model.lead_Id&applicantType=3" style="background: #343a40;">Co-Applicant-3</a>
                            <a id="ContentPlaceHolder1_lnkCoApp4" class="AppTabs btn-sm" href="/CibilCheckDetails/Index?lead_Id=@Model.lead_Id&applicantType=4" style="background: #343a40;">Co-Applicant-4</a>
                            <a id="ContentPlaceHolder1_lnkCoApp5" class="AppTabs btn-sm" href="/CibilCheckDetails/Index?lead_Id=@Model.lead_Id&applicantType=5" style="background: #343a40;">Co-Applicant-5</a>
                        </div>
                        <div style="height: 10px;"></div>
                        <span id="ContentPlaceHolder1_spanMessage" style="color: red;"></span>
                        <div style="height: 10px;"></div>
                        <div class="frames">
                            <div class="panel-body">
                                @*@if (ViewBag.isSuccess == true)
                                {
                                    <div class="alert alert-success" role="alert">
                                        @ViewBag.Message
                                    </div>
                                }
                                else if (ViewBag.isSuccess == false)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Error!</strong> @ViewBag.Message
                                    </div>

                                }*@
                                <div id="ContentPlaceHolder1_alertMsg">
                                    <div class="row">
                                        <div class="col-md-5 center">
                                            <label class="h5">Form No</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                <span id="ContentPlaceHolder1_lblFormNo" class="h4" style="color: black; border:none">
                                                    <label>@Model.FormNo</label>
                                                    <input type="hidden" asp-for="FormNo" />
                                                    @*<label asp-for="FormNo">@Model.FormNo</label>*@
                                                    @*<input type="text" asp-for="FormNo" disabled="disabled">*@
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divConverted3PC" class="card initial1">
                                    <h5>Customer Details</h5>
                                </div>

                                <div style="display:flex;">
                                    <div class="col-md-4">

                                    </div>
                                    <div style="width:100%; text-align:right;"><label><span style="color: Red">&nbsp;All * marked fields are mandatory</span></label></div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Name</label>

                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="CustomerName" type="text" maxlength="26" id="ContentPlaceHolder1_txtCustomerName" class="form-control required" placeholder="XYZ">

        <span asp-validation-for="CustomerName" style="color:Red;display:block;"></span>*@
                                            <label>@Model.CustomerName</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Email</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="CustomerEmail" type="text" id="ContentPlaceHolder1_txtCustomerEmail" class="form-control" placeholder="abc@xyz.com" maxlength="25">
        <span asp-validation-for="CustomerEmail" style="color:Red;display:block;"></span>*@
                                            <label>@Model.CustomerEmail</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Customer Mobile</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="CustomerPhone" type="text" maxlength="10" id="ContentPlaceHolder1_txtCustomerMobile" class="form-control noTxtInput" placeholder="Mobile No">
        <span asp-validation-for="CustomerPhone" style="color:Red;display:block;"></span>*@
                                            <label>@Model.CustomerPhone</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Date of Birth</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="DateOfBirth" asp-format="{0:dd/MM/yyyy}" type="text" id="ContentPlaceHolder1txtDOB" placeholder="dd/mm/yyyy"
               class="form-control" />
        <span id="ContentPlaceHolder1_RequiredFieldValidator2" style="color:Red;display:none;">Date of Birth is mandatory.</span>
        <span asp-validation-for="DateOfBirth" style="color:Red;display:block;"></span>*@
                                            <label>@Model.DateOfBirth.ToShortDateString()</label>
                                        </div>
                                        <!--<div class="input-group date" id="TextBoxCalendar" data-target-input="nearest">
                                            <input asp-for="DateOfBirth" asp-format="{0:dd/MM/yyyy}" type="text" placeholder="dd/mm/yyyy" class="form-control datetimepicker-input" data-target="#TextBoxCalender" style="width: 92%; display: inline-block; margin-right: 10px;">-->
                                        @*<img class="ui-datepicker-trigger" src="../css/Images/sort_asc.png" alt="..." title="...">*@
                                        <!--<div class="input-group-append" data-target="#TextBoxCalender" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>-->
                                        @*<span id="ContentPlaceHolder1_RequiredFieldValidator2" style="color:Red;display:none;">Date of Birth is mandatory.</span>*@
                                        <!--<span asp-validation-for="DateOfBirth" style="color:Red;display:block;"></span>
                                        </div>-->
                                    </div>
                                </div>

                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Gender</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<select asp-for="Gender" id="ContentPlaceHolder1_ddlGender" class="form-control">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Transgender">Transgender</option>

        </select>*@
                                            <label>@Model.Gender</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div id="IdentificationDv">
                                    <div style="height: 5px;"></div>
                                    <div class="divsubheader card initial1" id="divIdentification">
                                        <h5>Identification </h5>

                                    </div>
                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-2">
                                            <label class="">PAN</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-control text">
                                                @*<input asp-for="PanCardNo" type="text" maxlength="10" id="ContentPlaceHolder1_txtPAN" class="form-control">
        <span asp-validation-for="PanCardNo" style="color:Red;display:block;"></span>*@
                                                <label>@Model.PanCardNo</label>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="">Passport</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-control text">
                                                @*<input asp-for="PassportNo" type="text" maxlength="8" id="ContentPlaceHolder1_txtPassport" class="form-control">
        <span asp-validation-for="PassportNo" style="color:Red;display:block;"></span>*@
                                                <label>@Model.PassportNo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 5px;"></div>
                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-2">
                                            <label class="">Voter ID</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-control text">
                                                @*<input asp-for="VoterId" type="text" maxlength="10" id="ContentPlaceHolder1_txtVoterId" class="form-control">
        <span asp-validation-for="VoterId" style="color:Red;display:block;"></span>*@
                                                <label>@Model.VoterId</label>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="">Driver's Licence</label>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-control text">
                                                @*<input asp-for="DrivingLiscenceNo" type="text" maxlength="16" id="ContentPlaceHolder1_txtDriverLicense" class="form-control">
        <span asp-validation-for="DrivingLiscenceNo" style="color:Red;display:block;"></span>*@
                                                <label>@Model.DrivingLiscenceNo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-2">
                                            <label class="">Ration Card</label>

                                        </div>
                                        <div class="col-md-3">
                                            @*<div class="input-control text">
            <input asp-for="RationCardNo" type="text" maxlength="10" id="ContentPlaceHolder1_txtrationCard" class="form-control">
        </div>*@
                                            <label>@Model.RationCardNo</label>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="">Universal ID</label>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-control text">
                                                @*<input asp-for="AadharId" type="text" maxlength="14" id="ContentPlaceHolder1_txtUniversalId" class="form-control">
        <span asp-validation-for="AadharId" style="color:Red;display:block;"></span>*@
                                                <label>@Model.AadharId</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="PhoneDV">
                                    <div style="height: 5px;"></div>
                                    <div class="divsubheader card initial1">
                                        <h5>Phone</h5>
                                    </div>
                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <label class="">Phone 1</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                @*<input asp-for="PhoneNumber1" type="text" maxlength="10" id="ContentPlaceHolder1_txtPhone" class="form-control">
                                                <span asp-validation-for="PhoneNumber1" style="color:Red;display:block;"></span>
                                                <span id="ContentPlaceHolder1_RegularExpressionValidator5" style="color:Red;display:none;">Invalid Phone No.</span>*@
                                                <label>@Model.PhoneNumber1</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 5px;"></div>
                                    <div class="row tab">
                                        <div class="col-md-5">
                                            <label class="">Phone 2</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-control text">
                                                @*<input asp-for="PhoneNumber2" type="text" maxlength="10" id="ContentPlaceHolder1_txtPhone" class="form-control">
        <span asp-validation-for="PhoneNumber2" style="color:Red;display:block;"></span>
        <span id="ContentPlaceHolder1_RegularExpressionValidator5" style="color:Red;display:none;">Invalid Phone No.</span>*@
                                                <label>@Model.PhoneNumber2</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="currentAddr">
                                <div id="divConverted4" class="divsubheader card initial1">
                                    <h5>Address</h5>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Address Line 1</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="AddressLine1" type="text" maxlength="40" id="ContentPlaceHolder1_txtCurrentAddress1" class="form-control">
        <span asp-validation-for="AddressLine1" style="color:Red;display:block;"></span>*@
                                            <label>@Model.AddressLine1</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Address Line 2</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="AddressLine2" type="text" maxlength="40" id="ContentPlaceHolder1_txtCurrentAddress2" class="form-control">*@
                                            <label>@Model.AddressLine2</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Address Line 3</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="AddressLine3" type="text" maxlength="40" id="ContentPlaceHolder1_txtCurrentAddress3" class="form-control">*@
                                            <label>@Model.AddressLine3</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab" id="dvStateCurrent">
                                    <div class="col-md-5">
                                        <label class="">State</label>@*<span style="color: Red">&nbsp;*</span>*@
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label id="StateNode"></label>
                                            @*<select asp-for="State" id="ContentPlaceHolder1_ddlStateCurrent" class="form-control">
            <option value="">----Select----</option>
            <option value="35">ANDAMAN &amp; NICOBAR ISLANDS</option>
            <option value="28">ANDHRA PRADESH</option>
            <option value="12">ARUNACHAL PRADESH</option>
            <option value="18">ASSAM</option>
            <option value="10">BIHAR</option>
            <option value="4">CHANDIGARH</option>
            <option value="22">CHATTISGARH</option>
            <option value="22">CHHATTISGARH</option>
            <option value="26">DADRA &amp; NAGAR HAVELI</option>
            <option value="25">DAMAN &amp; DIU</option>
            <option value="7">DELHI</option>
            <option value="30">GOA</option>
            <option value="24">GUJARAT</option>
            <option value="6">HARYANA</option>
            <option value="2">HIMACHAL PRADESH</option>
            <option value="1">JAMMU &amp; KASHMIR</option>
            <option value="20">JHARKHAND</option>
            <option value="29">KARNATAKA</option>
            <option value="32">KERALA</option>
            <option value="31">LAKSHADWEEP</option>
            <option value="23">MADHYA PRADESH</option>
            <option value="27">MAHARASHTRA</option>
            <option value="14">MANIPUR</option>
            <option value="17">MEGHALAYA</option>
            <option value="15">MIZORAM</option>
            <option value="13">NAGALAND</option>
            <option value="21">ORISSA</option>
            <option value="34">PONDICHERRY</option>
            <option value="3">PUNJAB</option>
            <option value="8">RAJASTHAN</option>
            <option value="11">SIKKIM</option>
            <option value="33">TAMIL NADU</option>
            <option value="36">TELANGANA</option>
            <option value="16">TRIPURA</option>
            <option value="9">UTTAR PRADESH</option>
            <option value="5">UTTARANCHAL</option>
            <option value="19">WEST BENGAL</option>

        </select>*@
                                            @*<label>@Model.State</label>
                                            <span asp-validation-for="State" style="color:Red;display:block;"></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab" id="dvCityCurrent">
                                    <div class="col-md-5">
                                        <label class="">City</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="City" type="text" maxlength="30" id="ContentPlaceHolder1_txtCityCurrent" class="form-control">

        <span asp-validation-for="City" style="color:Red;display:block;"></span>*@
                                            <label>@Model.City</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <label class="">Pin Code</label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            @*<input asp-for="Pincode" type="text" maxlength="6" id="ContentPlaceHolder1_txtPinCodeCurrent" class="form-control noTxtInput">

        <span asp-validation-for="Pincode" style="color:Red;display:block;"></span>*@
                                            <label>@Model.Pincode</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <div class="full">
                                            <label class="">Category</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">

                                            @*<select asp-for="Category" class="form-control" readonly style="pointer-events: none;">
                                                   <option value="">----Select----</option>
                                                   <option value="1">Perminant Address</option>
                                                   <option value="2">Residence Address</option>
                                                   <option value="3">Office address</option>
                                                   <option value="4">Not Categorized</option>
                                            </select>
                                            <span asp-validation-for="Category" style="color:Red;display:block;"></span>*@
                                            <label id="CategoryNode"></label>
                                        </div>
                                    </div>
                                    <div style="height: 5px;"></div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <div class="full">
                                            <label class="">Residence code</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label id="ResidenceNode"></label>
                                            @*<label>@Model.Residence</label>*@
                                            @*<select asp-for="Residence" class="form-control">
                                                <option value="">----Select----</option>
                                                <option value="1">Owned</option>
                                                <option value="2">Rented</option>

                                            </select>
                                            <span asp-validation-for="Residence" style="color:Red;display:block;"></span>*@
                                        </div>
                                    </div>
                                    <div style="height: 5px;"></div>
                                </div>
                                <div style="height: 5px;"></div>
                                <div class="row tab">
                                    <div class="col-md-5">
                                        <div class="full">
                                            <label class="">Qualification</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-control text">
                                            <label id="QualificationNode"></label>
                                            @*<select asp-for="Qualification" class="form-control">
                                                <option value="">----Select----</option>
                                                <option value="1">BA</option>
                                                <option value="2">B.Arch</option>
                                                <option value="3">B.Com</option>
                                                <option value="4">B.Ed</option>
                                                <option value="5">B.Pharma</option>
                                                <option value="6">BSC</option>
                                                <option value="7">B.Tech/BE</option>
                                                <option value="8">BAMS</option>
                                                <option value="9">BBA</option>
                                                <option value="10">BCA</option>
                                                <option value="11">BDS</option>
                                                <option value="12">BFA</option>
                                                <option value="13">BHM</option>
                                                <option value="14">BHMS</option>
                                                <option value="15">BPT</option>
                                                <option value="16">BTA</option>
                                                <option value="17">CS Diploma</option>
                                                <option value="18">HSC</option>
                                                <option value="19">ICWA</option>
                                                <option value="20">Integrated PG</option>
                                                <option value="21">LLB</option>
                                                <option value="22">LLM</option>
                                                <option value="23">M Phil</option>
                                                <option value="24">MA</option>
                                                <option value="25">A arch </option>
                                                <option value="26">M COM</option>
                                                <option value="27">M ed</option>
                                                <option value="28">M pharma</option>
                                                <option value="29">MSC</option>
                                                <option value="30">MTech</option>
                                                <option value="31">MBA/PGDM</option>
                                                <option value="32">MBBS</option>
                                                <option value="33">MCA</option>
                                                <option value="34">MCM</option>
                                                <option value="35">MD</option>
                                                <option value="36">ME</option>
                                                <option value="37">MPM</option>
                                                <option value="38">MS</option>
                                                <option value="39">MVSC</option>
                                                <option value="40">OTHERS</option>
                                                <option value="41">PG DIPLOMA</option>
                                                <option value="42">PHD</option>
                                            </select>*@
                                            @*<span asp-validation-for="Qualification" style="color:Red;display:block;"></span>*@
                                        </div>
                                    </div>
                                    <div style="height: 5px;"></div>
                                </div>
                            </div>

                           
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var category = document.getElementById("CategoryNode");

        if (@Model.Category == 1) {
            category.textContent = "Perminant Address";
        } else if (@Model.Category == 2) {
            category.textContent = "Residence Address";
        }
        else if (@Model.Category == 3) {
            category.textContent = "Office Address";
        }
        else if (@Model.Category == 4) {
            category.textContent = "Not Changed Address";
        }
    });

    $(document).ready(function () {
        var residence = document.getElementById("ResidenceNode");

        if (@Model.Residence == 1) {
            residence.textContent = "Owned";
        } else if (@Model.Residence == 2) {
            residence.textContent = "Rented";
        }
    });

    $(document).ready(function () {
        var qualification = document.getElementById("QualificationNode");

        if (@Model.Qualification== 1) {
            qualification.textContent = "BA";
        } else if (@Model.Qualification== 2) {
            qualification.textContent = "B.Arch";
        }
        else if (@Model.Qualification== 3) {
            qualification.textContent = "B.Com";
        }
        else if (@Model.Qualification== 4) {
            qualification.textContent = "B.Ed";
        }
        else if (@Model.Qualification== 5) {
            qualification.textContent = "B.Pharma";
        }
        else if (@Model.Qualification== 6) {
            qualification.textContent = "BSC";
        }
        else if (@Model.Qualification== 7) {
            qualification.textContent = "B.Tech/BE";
        }
        else if (@Model.Qualification== 8) {
            qualification.textContent = "BAMS";
        }
        else if (@Model.Qualification== 9) {
            qualification.textContent = "BBA";
        }
        else if (@Model.Qualification== 10) {
            qualification.textContent = "BCA";
        }
        else if (@Model.Qualification== 11) {
            qualification.textContent = "BDS";
        }
        else if (@Model.Qualification== 12) {
            qualification.textContent = "BFA";
        }
        else if (@Model.Qualification== 13) {
            qualification.textContent = "BHM";
        }
        else if (@Model.Qualification== 14) {
            qualification.textContent = "BHMS";
        }
        else if (@Model.Qualification== 15) {
            qualification.textContent = "BPT";
        }
        else if (@Model.Qualification== 16) {
            qualification.textContent = "BTA";
        }
        else if (@Model.Qualification== 17) {
            qualification.textContent = "CS Diploma";
        }
        else if (@Model.Qualification== 18) {
            qualification.textContent = "HSC";
        }
        else if (@Model.Qualification== 19) {
            qualification.textContent = "ICWA";
        }
        else if (@Model.Qualification== 20) {
            qualification.textContent = "Integrated PG";
        }
        else if (@Model.Qualification== 21) {
            qualification.textContent = "LLB";
        }
        else if (@Model.Qualification== 22) {
            qualification.textContent = "LLM";
        }
        else if (@Model.Qualification== 23) {
            qualification.textContent = "M.Phil";
        }
        else if (@Model.Qualification== 24) {
            qualification.textContent = "MA";
        }

        else if (@Model.Qualification== 25) {
            qualification.textContent = "M.Arch";
        }
        else if (@Model.Qualification== 26) {
            qualification.textContent = "M.Com";
        }
        else if (@Model.Qualification== 27) {
            qualification.textContent = "M.Ed";
        }
        else if (@Model.Qualification== 28) {
            qualification.textContent = "M.Pharma";
        }
        else if (@Model.Qualification== 29) {
            qualification.textContent = "MSC";
        }else if (@Model.Qualification== 30) {
            qualification.textContent = "M.Tech";
        }
        else if (@Model.Qualification== 31) {
            qualification.textContent = "MBA";
        }
        else if (@Model.Qualification==32) {
            qualification.textContent = "MBBS";
        }
        else if (@Model.Qualification== 33) {
            qualification.textContent = "MCA";
        }
        else if (@Model.Qualification== 34) {
            qualification.textContent = "MCM";
        }

        else if (@Model.Qualification== 35) {
            qualification.textContent = "MD";
        }
        else if (@Model.Qualification== 36) {
            qualification.textContent = "ME";
        }
        else if (@Model.Qualification== 37) {
            qualification.textContent = "MPM";
        }
        else if (@Model.Qualification== 38) {
            qualification.textContent = "MS";
        }
        else if (@Model.Qualification== 39) {
            qualification.textContent = "MVSC";
        }
        else if (@Model.Qualification== 40) {
            qualification.textContent = "OTHERS";
        }
        else if (@Model.Qualification== 41) {
            qualification.textContent = "PG Diploma";
        }
        else if (@Model.Qualification== 42) {
            qualification.textContent = "PHD";
        }

    });

    $(document).ready(function () {
        var state = document.getElementById("StateNode");
        if (@Model.State== 1) {
            state.textContent = "JAMMU & amp; KASHMIR";
        } else if (@Model.State== 2) {
            state.textContent = "HIMACHAL PRADESH";
        }
        else if (@Model.State== 3) {
            state.textContent = "PANJAB";
        }
        else if (@Model.State== 4) {
            state.textContent = "CHANDIGARH";
        }
        else if (@Model.State== 5) {
            state.textContent = "UTTARANCHAL";
        }
        else if (@Model.State== 6) {
            state.textContent = "HARYANA";
        }
        else if (@Model.State== 7) {
            state.textContent = "DELHI";
        }
        else if (@Model.State== 8) {
            state.textContent = "RAJASTHAN";
        }
        else if (@Model.State== 9) {
            state.textContent = "UTTAR PRADESH";
        }
        else if (@Model.State== 10) {
            state.textContent = "BHIHAR";
        }
        else if (@Model.State== 11) {
            state.textContent = "SIKKIM";
        }
        else if (@Model.State== 12) {
            state.textContent = "ARUNACHAL PRADESH";
        }
        else if (@Model.State== 13) {
            state.textContent = "NAGALAND";
        }
        else if (@Model.State== 14) {
            state.textContent = "MANIPUR";
        }
        else if (@Model.State== 15) {
            state.textContent = "MIJORAM";
        }
        else if (@Model.State== 16) {
            state.textContent = "TRIPURA";
        }
        else if (@Model.State== 17) {
            state.textContent = "MEGHALAYA";
        }
        else if (@Model.State== 18) {
            state.textContent = "ASSAM";
        }
        else if (@Model.State== 19) {
            state.textContent = "WEST BENGAL";
        }
        else if (@Model.State== 20) {
            state.textContent = "JHARKHAND";
        }
        else if (@Model.State== 21) {
            state.textContent = "ORISSA";
        }
        else if (@Model.State== 22) {
            state.textContent = "CHATTISGARH";
        }
        else if (@Model.State== 23) {
            state.textContent = "MADYA PRADESH";
        }
        else if (@Model.State== 24) {
            state.textContent = "GUJARAT";
        }

        else if (@Model.State== 25) {
            state.textContent = "DAMAN & amp ; DIU";
        }
        else if (@Model.State== 26) {
            state.textContent = "DADRA & amp ; NAGAR HAVELI";
        }
        else if (@Model.State== 27) {
            state.textContent = "MAHARASHTRA";
        }
        else if (@Model.State== 28) {
            state.textContent = "ANDHRA PRADESH";
        }
        else if (@Model.State== 29) {
            state.textContent = "KARNATAKA";
        }else if (@Model.State== 30) {
            state.textContent = "GOA";
        }
        else if (@Model.State== 31) {
            state.textContent = "LAKSHADWEEP";
        }
        else if (@Model.State==32) {
            state.textContent = "KERALA";
        }
        else if (@Model.State== 33) {
            state.textContent = "TAMILNADU";
        }
        else if (@Model.State== 34) {
            state.textContent = "PONDI CHERRY";
        }

        else if (@Model.State== 35) {
            state.textContent = "ANDAMAN & amp; NICOBAR ISLANDS";
        }
        else if (@Model.State== 36) {
            state.textContent = "TELANGANA";
        }


    });

    $(document).ready(function () {
        var applicant0 = document.getElementById("tabProcess0");
        var applicant1 = document.getElementById("ContentPlaceHolder1_lnkCoApp1");
        var applicant2 = document.getElementById("ContentPlaceHolder1_lnkCoApp2");
        var applicant3 = document.getElementById("ContentPlaceHolder1_lnkCoApp3");
        var applicant4 = document.getElementById("ContentPlaceHolder1_lnkCoApp4");
        var applicant5 = document.getElementById("ContentPlaceHolder1_lnkCoApp5");

        if (@Model.ApplicantType == 1) {
             applicant1.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }
        else if (@Model.ApplicantType == 2) {
             applicant2.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }
        else if (@Model.ApplicantType == 3) {
             applicant3.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }
        else if (@Model.ApplicantType == 4) {
             applicant4.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }
        else if (@Model.ApplicantType == 5) {
             applicant5.style.backgroundColor = "#adb5bd";
             applicant0.style.backgroundColor = "#343a40";
        }

    });


</script>

