@model string
<div class="d-flex flex-row">
    <a class="btn btn-default-submit" asp-controller="leadlist" id="anch_summary" asp-action="LeadSummary" asp-route-lead_Id="@Model">Summary</a>&nbsp;&nbsp;
    <a class="btn btn-default-submit" asp-controller="leadlist" id="anch_modification" asp-action="LeadModification" asp-route-lead_Id="@Model">Modification</a>&nbsp;&nbsp;
    <a class="btn btn-default-submit" asp-controller="leadlist" id="anch_history" asp-action="LeadHistory" asp-route-LeadId="@Model">History</a>&nbsp;&nbsp;
    <a class="btn btn-default-submit" asp-controller="ProductsList" id="anch_products" asp-action="AllProductsList" asp-route-lead_Id="@Model">Products</a>&nbsp;&nbsp;
    <a class="btn btn-default-submit" asp-controller="Login" id="anch_propertyDetails" asp-action="UpdatePropertyDetails" asp-route-lead_Id="@Model">Property Details</a>&nbsp;&nbsp;
    <a class="btn btn-default-submit" asp-controller="QueryHistory" id="anch_queryHistory" asp-action="Index" asp-route-lead_Id="@Model">Query History</a>&nbsp;&nbsp;
    <a class="btn btn-default-submit" asp-controller="Agency" id="ThirdPartyCheck" asp-action="Index" asp-route-lead_Id="@Model" style="display:none;">Third Party Check</a>&nbsp;&nbsp;
</div>

<script>
    $(document).ready(function () {
        $('.btn1').click(function (e) {
            $('.btn1').removeClass("selected");
            $(e.target).addClass("selected");
        });
    });

</script>